<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <div class="sidebar-profile text-center">
    <div class="picture">
      <img alt="User Profile Image" src="https://secure.gravatar.com/avatar/0e3be23b191292c2d50e274d2c774cba?s=250&amp;d=mm&amp;r=g" class="rounded-circle">
    </div>
    <div class="name">first name last</div>
  </div>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a [routerLink]="['/me']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-link"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/me/account']" routerLinkActive="active" class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i> My Account</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/me/appointments']" routerLinkActive="active" class="nav-link"><i class="fa fa-calendar" aria-hidden="true"></i> Appointments</a>
    </li>

    <li class="nav-item cta-logout">
        <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </li>
  </ul>
</nav>