.sidebar {
    background-color: #fff;
    padding: 20px 0;
    .sidebar-profile{
        color:#fff;
        margin-bottom: 40px;
        .picture{
            img{
                width:40%;
            }
        }
        .name{}
    }
    .nav{
        .nav-item{
            font-size:80%;
            .nav-link{
                color:#999;
            }
            .nav-link:hover,
            .nav-link.active{
                color:#fff;
                background-color: #262626;
            }
        }

        .nav-item.cta-logout{
            a{
                color:#999;
                display: block;
                padding: 0.5rem 1rem;
            }
        }
    }
}


  /*
   * Sidebar
   */
  
   .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    background-color: #333333;
  }
  
  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }
  
  .sidebar .nav {
    margin-bottom: 20px;
  }
  
  .sidebar .nav-item {
    width: 100%;
  }
  
  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }
  
  .sidebar .nav-link {
    border-radius: 0;
  }