<div class="modal-header">
    <h4 class="modal-title"[innerHTML]="title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p [innerHTML]="body"></p>
  </div>
  <div class="modal-footer">
    <button type="button" 
      class="btn btn-success" 
      (click)="activeModal.close(true)"
      *ngIf="ctaPositive"
    >
      {{ ctaPositive }}
    </button>
    <button type="button" 
      class="btn btn-danger" 
      (click)="activeModal.close(false)"
      *ngIf="ctaNegative"
    >
      {{ ctaNegative }}
    </button>
  </div>