<div class="container-fluid">
      <app-overlay [toggle]="toggleOverlay"></app-overlay>
        <div class="row mb-4">
            <div class="col-sm-12">
                <h5>Status</h5>
                <form [formGroup]="form" class="form">
                    <div class="form-check" *ngIf="objectId!=1">
                        <label class="col-form-label">
                            <input 
                                class="form-check-input checkbox-role" 
                                type="checkbox" 
                                value="1" 
                                [checked]="object && object.status == 'active'"
                                (click)="setStatus($event)"
                            >
                            <strong>Enable</strong> this user
                        
                        </label>      
                    </div>
                </form>
            </div>
        </div>
        


        <div class="row mb-4">
            <div class="col-sm-12">
                <h5>Reset Password</h5>
                <app-manage-password [object]="object"></app-manage-password>
            </div>
        </div>

  </div>