<div style="margin: auto;margin-bottom: 50px;">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"

      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      
      <data-table-column
          [property]="'name'"
          [header]="'Name'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <div><strong>{{ item.employee.employee_id_number }}</strong></div>
                <div>{{ item.employee.first_name }} {{ item.employee.last_name }}</div>
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'time_in'"
          [header]="'Date'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <strong>{{ item.purpose }}</strong>
                <br/>
                <span *ngIf="item.start">
                    <strong>From:</strong> {{ item.start.date | date: 'MMM dd, yyyy h:mm a'}}
                    <strong>To:</strong> {{ item.end.date | date: 'MMM dd, yyyy h:mm a'}}
                </span>
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'type'"
          [header]="'Type'"
          [sortable]="false"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ item.type.name }}
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'duration'"
          [header]="'Duration'"
          [sortable]="false"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ item.duration_in_minutes }}
            </ng-template>
      </data-table-column>

      <data-table-column
        [property]="'created_at'"
        [header]="'Application Date'"
        [sortable]="true"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <div *ngIf="item.created_at">
                    {{ item.created_at.date | date: 'MMM dd, yyyy h:mm a'}}
                </div>
            </ng-template>
    </data-table-column>

      <data-table-column
          [property]="'status'"
          [header]="'Status'"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <status-badge 
                    *ngIf="item"
                    status="{{ item.status }}"
                ></status-badge>
            
            </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['timelog.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a>
                &nbsp;
                <a (click)="delete(item)" *ngIf="userService.checkPermission(['timelog.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a>
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>