<div class="container">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>

  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-12">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="compensation_from" class="col-form-label">From <em>(Leave blank for minimum range)</em></label>
                        <div class="input-group">
                            <input type="number" name="compensation_from" class="form-control" formControlName="compensation_from" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="compensation_to" class="col-form-label">To <em>(Leave blank for maximum range)</em></label>
                        <div class="input-group">
                            <input type="number" name="compensation_to" class="form-control" formControlName="compensation_to" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="monthly_salary_credit" class="col-form-label">Monthly Credit</label>
                        <div class="input-group">
                            <input type="number" name="monthly_salary_credit" class="form-control" formControlName="monthly_salary_credit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="social_security_er" class="col-form-label">Social Security ER</label>
                        <div class="input-group">
                            <input type="number" name="social_security_er" class="form-control" formControlName="social_security_er" (keyup)="calcSecurityTotal()"/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="social_security_ee" class="col-form-label">Social Security EE</label>
                        <div class="input-group">
                            <input type="number" name="social_security_ee" class="form-control" formControlName="social_security_ee" (keyup)="calcSecurityTotal()"/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="social_security_ee" class="col-form-label">Social Security Total</label>
                        <div class="input-group small">
                            {{ socialSecurityTotal }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="total_contribution_er" class="col-form-label">Total Contribution ER</label>
                        <div class="input-group">
                            <input type="number" name="total_contribution_er" class="form-control" formControlName="total_contribution_er" (keyup)="calcSecurityTotal()"/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="total_contribution_ee" class="col-form-label">Total Contribution EE</label>
                        <div class="input-group">
                            <input type="number" name="total_contribution_ee" class="form-control" formControlName="total_contribution_ee" (keyup)="calcSecurityTotal()"/>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="social_security_ee" class="col-form-label">Total Contribution</label>
                        <div class="input-group small">
                            {{ totalContributionTotal }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ec_er" class="col-form-label">EC ER</label>
                        <div class="input-group">
                            <input type="number" name="ec_er" class="form-control" formControlName="ec_er" (keyup)="calcSecurityTotal()"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="total_contribution_se_vm_ofw" class="col-form-label">Total Contribution OFW</label>
                        <div class="input-group">
                            <input type="number" name="total_contribution_se_vm_ofw" class="form-control" formControlName="total_contribution_se_vm_ofw" (keyup)="calcSecurityTotal()"/>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="text-right">
              <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                  <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                  <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                  <span *ngIf="formSubmitting">Saving...</span>
              </button>
              <button class="btn btn-warning" (click)="cancel()">
                  Cancel
              </button>
          </div>
      </div>
    </div>
  </form>
  <br/>
</div>