
<div class="containe">
  <!-- <app-overlay [toggle]="toggleOverlay"></app-overlay> -->
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                      <label for="name" class="col-form-label">Start Date</label>
                      <div class="input-group">
                        <my-date-picker 
                            name="start_date" 
                            [options]="datePickerOptions"
                            formControlName="start_date" 
                            (dateChanged)="dateChanged('start', $event)"
                          >
                          </my-date-picker>
                      </div>
                  </div>
                </div>
                  

                <div class="col-sm-6"> <div class="form-group">
                    <label for="name" class="col-form-label">End Date</label>
                    <div class="input-group">
                      <my-date-picker 
                          name="end_date" 
                          [options]="datePickerOptions"
                          formControlName="end_date" 
                          (dateChanged)="dateChanged('end', $event)"
                        >
                        </my-date-picker>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>