<!-- <app-filter (objectChanged)="objectChanged($event)"></app-filter> -->

<!-- [{{ items.length }}] -->
<!-- <div *ngIf="!items || !items.length">
  <h2 class="text-center">Please make a date selection</h2>
</div> -->

<div class="row">
  <div class="col-sm-12">
    <h2>Payroll Reports</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-filter (payrollLogChanged)="payrollLogChanged($event)"></app-filter>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr/>
    <app-list [payrollLogId]="payrollLogId"></app-list>
  </div>
</div>