
<div class="containe">
    <h5 *ngIf="object">{{ object.first_name }} {{ object.last_name }}</h5>


    <app-overlay [toggle]="toggleOverlay"></app-overlay>


    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab id="tab-form-details" title="Details">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <!-- <app-details [lists]="lists" [object]="object" [objectId]="objectId"></app-details> -->



                                <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
                                        <!-- NAME -->
                                        <div class="row">
                                            <input type="hidden" class="form-control" id="id" formControlName="id">
                                            <div class="form-group col-sm-2" [class.has-danger]="form.get('first_name').invalid">
                                                <label for="first_name" class="col-form-label required">First Name</label>
                                                <input type="text" class="form-control" id="first_name" formControlName="first_name" autocomplete="off">
                                
                                                <div class="small text-warning" ngxErrors="first_name" #errorName="ngxErrors">
                                                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                                                        <div [ngSwitch]="error.name">
                                                        <div *ngSwitchCase="'minlength'">
                                                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                                                        </div>
                                                        <div *ngSwitchCase="'maxlength'">
                                                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                                                        </div>
                                                        <div *ngSwitchDefault>
                                                            {{ error.text }}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="form-group col-sm-2" [class.has-danger]="form.get('last_name').invalid">
                                                <label for="last_name" class="col-form-label required">Last Name</label>
                                                <input type="text" class="form-control" id="last_name" formControlName="last_name" autocomplete="off">
                                    
                                                <div class="small text-warning" ngxErrors="last_name" #errorName="ngxErrors">
                                                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                                                        <div [ngSwitch]="error.name">
                                                        <div *ngSwitchCase="'minlength'">
                                                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                                                        </div>
                                                        <div *ngSwitchCase="'maxlength'">
                                                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                                                        </div>
                                                        <div *ngSwitchDefault>
                                                            {{ error.text }}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="form-group col-sm-2" [class.has-danger]="form.get('email').invalid">
                                                    <label for="email" class="col-form-label required">Email</label>
                                                    <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off">
                                        
                                                    <div class="small text-warning" ngxErrors="email" #errorName="ngxErrors">
                                                        <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                                                            <div [ngSwitch]="error.name">
                                                            <div *ngSwitchCase="'minlength'">
                                                                {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                                                            </div>
                                                            <div *ngSwitchCase="'maxlength'">
                                                                {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                                                            </div>
                                                            <div *ngSwitchDefault>
                                                                {{ error.text }}
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                                                    <span *ngIf="formMode=='create' && !formSubmitting">Add</span>
                                                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                                                    <span *ngIf="formSubmitting">Saving...</span>
                                                </button>
                                
                                                &nbsp;<a *ngIf="formMode!='create'" class="btn btn-danger" [routerLink]="settings.crud.list.url">Cancel</a>
                                            </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-form-inventory" [disabled]="formMode === 'create'">
            <ng-template ngbTabTitle>Roles</ng-template>
            <ng-template ngbTabContent>
                <app-roles [object]="object" [objectId]="objectId" [lists]="lists"></app-roles>
            </ng-template>
        </ngb-tab>


        <ngb-tab id="tab-form-admin" [disabled]="formMode === 'create'">
            <ng-template ngbTabTitle>Admin</ng-template>
            <ng-template ngbTabContent>
                <app-admin [object]="object" [objectId]="objectId"></app-admin>
            </ng-template>
        </ngb-tab>

        <!-- <ngb-tab id="tab-form-stocks">
            <ng-template ngbTabTitle>Stocks</ng-template>
            <ng-template ngbTabContent>
                <app-stocks [objectId]="objectId"></app-stocks>
            </ng-template>
        </ngb-tab> -->
    </ngb-tabset>
            




</div>