
<div class="containe">
  
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="name" class="col-form-label">Year</label>
                <select formControlName="year" (change)="yearChanged($event)">
                  <option 
                    *ngFor="let year of getYearRange()" 
                    [attr.value]="year" 
                    [attr.selected]="(currentYear === year)? true : null"
                  >
                    {{ year }}
                  </option>
                </select>
                <div class="small text-warning" ngxErrors="year" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.year" [when]="error.rules">
                        <div [ngSwitch]="error.year">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>