<form [formGroup]="form">
  <div class="row">
      <div class="form-group col-sm-2">
          <label class="col-form-label">Time In</label>

          <my-date-picker 
              name="time_in" 
              [options]="datePickerOptions"
              formControlName="time_in_date"
              >
          </my-date-picker>
          <input type="time" atp-time-picker class="form-control" formControlName="time_in_time" />
      </div>
      <div class="form-group col-sm-2">
          <label class="col-form-label">Time Out</label>
          <my-date-picker 
              name="time_in" 
              [options]="datePickerOptions"
              formControlName="time_out_date"
              >
          </my-date-picker>
          <input type="time" atp-time-picker class="form-control" formControlName="time_out_time"/>
      </div>

      <div class="form-group col-sm-2">
          <label class="col-form-label">Notes</label>
          <textarea class="form-control" rows="3" formControlName="notes"></textarea>
      </div>
      <div class="form-group col-sm-2">
          <label class="col-form-label">&nbsp;</label>
          <br/>
          <button type="button" class="btn btn-primary" (click)="submit()"
              [disabled]="!form.valid"
              *ngIf="object.status!='APPROVED'"
              >Update</button>

          <br/>
          <small>
            <ul class="list-group">
              <li>Shift Period is autmatically detected</li>
              <li>Durations are autmatically computed</li>
            </ul>
          </small>
      </div>

      <div class="form-group col-sm-3">
        Other actions:
        <br/>
        <button class="btn btn-sm btn-success" 
            (click)="setStatus('approved')" 
            *ngIf="logValid() && object.shift_template_period_id"

        >Approve</button>
        <button class="btn btn-sm btn-warning" (click)="setStatus('close')" *ngIf="logValid()">Close</button>
        <button class="btn btn-sm btn-danger" (click)="setStatus('delete')">Delete</button>
        <br/>
        <button class="btn btn-sm" 
            [class.btn-primary]="!isRecalculating" 
            [class.btn-warning]="isRecalculating" 
            (click)="recalculate()"
            *ngIf="logValid()"
        >
            <span *ngIf="!isRecalculating">Recalculate</span>
            <span *ngIf="isRecalculating">Recalculating...</span>
        </button>
      </div>
  </div>
</form>