<ul class="nav nav-pills flex-column">
  <!-- DASHBOARD -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/app'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-tachometer"></i> Dashboard</a>
  </li>

<!-- FOR EMPLOYEE -->
<li class="nav-item" *ngIf="userService.checkRole(['employee'])">
  <a class="nav-link collapsed" href="#foremployeesmenu" data-toggle="collapse" data-target="#foremployeesmenu">Your Records</a>
  <div class="collapse" id="foremployeesmenu" aria-expanded="false" routerLinkActive="stay-open">
    <ul class="flex-column pl-2 nav">
        <li class="nav-item">
          <a class="nav-link" 
            [routerLink]="'/app/employees/payslips'" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            *ngIf="userService.checkPermission(['employee.payslip-browse'])"
            >
              My Payslips
          </a>
        </li>
    </ul>
  </div>
</li>
  

  <!-- EMPLOYEES -->
  <li class="nav-item" *ngIf="userService.checkPermission(['employee.browse'])">
      <a class="nav-link collapsed" href="#employeesmenu" data-toggle="collapse" data-target="#employeesmenu">Employees</a>
      <div class="collapse" id="employeesmenu" aria-expanded="false" routerLinkActive="stay-open">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item">
              <a class="nav-link" 
                [routerLink]="'/app/employees'" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="userService.checkPermission(['employee.browse'])"
                >
                  Employees List
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" 
                [routerLink]="'/app/employees/add'" 
                
                routerLinkActive="active"
                *ngIf="userService.checkPermission(['employee.add'])"
                >
                  Add Employee
              </a>
            </li>
        </ul>
      </div>
  </li>

  <!-- REPORTS -->
  <li class="nav-item" *ngIf="userService.checkPermission(['reports.payroll.browse'])">
    <a class="nav-link collapsed" href="#reportsmenu" data-toggle="collapse" data-target="#reportsmenu">Reports</a>
    <div class="collapse" id="reportsmenu" aria-expanded="false" routerLinkActive="stay-open">
      <ul class="flex-column pl-2 nav">
        <li class="nav-item">
          <a class="nav-link" 
            [routerLink]="'/app/reports/payroll'" 
            routerLinkActive="active"
            *ngIf="userService.checkPermission(['reports.payroll.browse'])"
            >
              Payroll
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- SETTINGS -->
  <li class="nav-item" *ngIf="userService.checkPermission(['settings.access'])">
      <a class="nav-link collapsed" href="#settingsmenu" data-toggle="collapse" data-target="#settingsmenu"><i class="fa fa-cogs"></i> Settings</a>
      <div class="collapse" id="settingsmenu" aria-expanded="false" routerLinkActive="stay-open">
          <ul class="flex-column pl-2 nav">        

            <!-- SYSTEMS -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#settingssystemmenu" data-toggle="collapse" data-target="#settingssystemmenu">System</a>
                <div class="collapse" id="settingssystemmenu" aria-expanded="false" routerLinkActive="stay-open">
                  <ul class="flex-column pl-2 nav">
                      <li class="nav-item">
                        <a class="nav-link" 
                          [routerLink]="'/app/settings/system/benefits'" 
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="active"
                          *ngIf="userService.checkPermission(['benefits.browse'])"
                          >
                            Benefits
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" 
                          [routerLink]="'/app/settings/system/cash-advances'" 
                          routerLinkActive="active"
                          *ngIf="userService.checkPermission(['cash-advance.browse'])"
                          >
                            Cash Advances
                        </a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/civil-status'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['civil-status.browse'])"
                        >
                          Civil Status
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/company-departments'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['company-departments.browse'])"
                        >
                          Company Departments
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/deductions'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['deduction.browse'])"
                        >
                          Deductions
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/employment-status'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['employment-status.browse'])"
                        >
                          Employment Status
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/employee-templates'" 
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['employmee-template.browse'])"
                        >
                          Employment Templates
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/employment-types'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['employment-type.browse'])"
                        >
                          Employment Types
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/holidays'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['holiday.browse'])"
                        >
                          Holidays
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/holiday-types'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['holiday-type.browse'])"
                        >
                          Holiday Types
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/job-positions'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['job-position.browse'])"
                        >
                          Job Positions
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/leave-applications'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['leave-application.browse'])"
                        >
                          Applications
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/leave-types'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['leave-type.browse'])"
                        >
                          Application Types
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/payrolls'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['payroll.browse'])"
                        >
                          Payrolls
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/payroll-generator'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['payroll-generator.browse'])"
                        >
                          Payroll Generator
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/payroll-templates'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['payroll-template.browse'])"
                        >
                          Payroll Templates
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/shift-templates'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['shift-template.browse'])"
                        >
                          Shift Templates
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                          [routerLink]="'/app/settings/system/shift-template-periods'" 
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="active"
                          *ngIf="userService.checkPermission(['shift-template-period.browse'])"
                          >
                            Shift Template Periods
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" 
                          [routerLink]="'/app/settings/system/philhealth-table'" 
                          [routerLinkActiveOptions]="{ exact: true }"
                          routerLinkActive="active"
                          *ngIf="userService.checkPermission(['philhealth.browse'])"
                          >
                            Philhealth
                        </a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/sss-table'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['sss.browse'])"
                        >
                          SSS Table
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/tables/tax'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['tax-table.browse'])"
                        >
                          Tax Table
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/timelogs'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['timelog.browse'])"
                        >
                          Timelogs
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/system/titles'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['titles.browse'])"
                        >
                          Titles
                      </a>
                    </li>
                  </ul>
                </div>
            </li>

            <!-- SECURITY -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#settingssecuritymenu" data-toggle="collapse" data-target="#settingssecuritymenu">Security</a>
                <div class="collapse" id="settingssecuritymenu" aria-expanded="false" routerLinkActive="stay-open">
                  <ul class="flex-column pl-2 nav">

                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/security/users'" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['user.browse'])"
                        >
                          Users
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/security/roles'" 
                        [routerLinkActiveOptions]="{ exact: true }" 
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['role.browse'])"
                      >
                          Roles
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" 
                        [routerLink]="'/app/settings/security/roles-permissions'" 
                        [routerLinkActiveOptions]="{ exact: true }" 
                        routerLinkActive="active"
                        *ngIf="userService.checkPermission(['role-permission.browse'])"
                      >
                          Roles-Permissions
                      </a>
                    </li>
                  </ul>
                </div>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="'/admin/activity-logs'" routerLinkActive="active">Activity Logs</a>
            </li> -->
          </ul>
      </div>
    </li>

  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Export</a>
  </li> -->
</ul>
