<div style="margin: auto;margin-bottom: 50px;">
  
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
    >
        <data-table-column
            [property]="'first_name'"
            [header]="'Name'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                {{ item.first_name }} {{ item.last_name }}
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'email'"
            [header]="'Email'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                {{ item.email }}
            </ng-template>
        </data-table-column>

        <!-- <data-table-column
            [property]="'status'"
            [header]="'Sttatus'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                {{ item.status }}
            </ng-template>
        </data-table-column> -->

        <data-table-column
            [property]="'date_joined'"
            [header]="'Date Joined'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                {{ item.date_joined | date: 'MMM dd, yyyy' }}
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'roles'"
            [header]="'Roles'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                <span *ngFor="let role of item.roles">{{ role.name | uppercase }}<br/></span>
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'status'"
            [header]="'Status'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <status-badge status="{{ item.status }}"></status-badge>
            </ng-template>
        </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
              <!-- {{ settings.crud.update.url + item.id }} -->
              <a [routerLink]="settings.crud.update.url + item.id">
                  <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
              </a>
              <!-- &nbsp;
              <a (click)="delete(item)">
                  <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
              </a> -->
          </ng-template>
      </data-table-column>
  </data-table>
</div>