asd<div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
    <div [ngSwitch]="error.name">
    <div *ngSwitchCase="'minlength'">
        {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
    </div>
    <div *ngSwitchCase="'maxlength'">
        {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
    </div>
    <div *ngSwitchDefault>
        {{ error.text }}
    </div>
    </div>
</div>