<div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-header">{{ settings.plural }}</h2>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <label class="col-form-label">Role</label>
          <select *ngIf="lists['roles']" class="form-control" (change)="selectRole($event)">
            <option value="--"></option>
            <option *ngFor="let role of lists.roles" value="{{ role.id }}"> {{ role.name | uppercase }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12">
        <div style="position: relative;">
          <h4 class="jumbotron text-center text-danger" *ngIf="!selectedRoledId">
            Select a Role
          </h4>
            <app-list *ngIf="selectedRoledId" [roleId]="selectedRoledId" [listPermissions]="lists.permissions" [roleAttachedPermissions]="this.roleAttachedPermissions"></app-list>
        </div>
      </div>
    </div>
  </div>
  