<div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-header">{{ settings.plural }}</h2>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-lg-12">
        <app-form (triggerReloadList)="triggerReloadList($event)" [object]="_object"></app-form>
      </div>
      <div class="col-lg-12">
        <div style="position: relative;">
            <app-list [(triggerListReload)]="_triggerReloadList" (object)="getObject($event)"></app-list>
        </div>
      </div>
    </div>
  </div>
  