html{
    font-size:85%;
}

/deep/ body {
  background-color: #f2f2f2;
  padding-top:3.9rem;
}

.navbar-brand{
    color:#fff;
}

.bg-inverse {
    background-color: #292b2c!important;
}

.text-grey {
  color: grey;
}


#feature-navbar{
  border:1px solid;
  ul.navbar-nav{
      li.nav-item{
          a {
              &.active {
                  color: #09a6a7;
                  border-bottom: 2px solid #09a6a7;
              }
              
          }
      }
  }
}

main,
.btn{
    background-color: #f2f2f2;
    font-size:80%;
    
}

input:-webkit-autofill:focus {
  -webkit-box-shadow:0 0 0 50px white inset;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */


.sidebar {
  padding: 20px 0;
  .sidebar-profile{
      color:#fff;
      margin-bottom: 40px;
      .picture{
          img{
              width:40%;
          }
      }
  }
  .nav{
      .nav-item{
          font-size:80%;
          .nav-link{
              color:#999;
          }
          .nav-link:hover,
          .nav-link.active{
              color:#fff;
              background-color: #262626;
          }
      }

      .nav-item.cta-logout{
          a{
              color:#999;
              display: block;
              padding: 0.5rem 1rem;
          }
      }
  }
}


.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: #333333;
}

/* Sidebar navigation */

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}