<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!-- <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <a class="navbar-brand" [routerLink]="['/me']"><img src="./../../../../assets/images/logo.png" style="width:300px;"></a>

  <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->
</nav>

<div class="container-fluid">
  <div class="row">


    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <div class="sidebar-profile text-center">
        <div class="picture">
          <img alt="User Profile Image" src="https://secure.gravatar.com/avatar/0e3be23b191292c2d50e274d2c774cba?s=250&amp;d=mm&amp;r=g" class="rounded-circle">
        </div>
        <div class="name">first name last</div>
      </div>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a [routerLink]="['/me']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-link"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/me/account']" routerLinkActive="active" class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i> My Account</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/me/appointments']" routerLinkActive="active" class="nav-link"><i class="fa fa-calendar" aria-hidden="true"></i> Appointments</a>
        </li>
        <li class="nav-item cta-logout">
            <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

        <router-outlet></router-outlet>
    </main>


    <div class="col-sm-12">
        <footer class="css-nil">
          <div class="css-1egcjgs">
            <footer class="css-9cy4mv">
              <div class="css-106loxf">
                <div>© 2017 Musicbed</div>
              </div>
              <ul class="css-mxq2cb">
                <li class="css-13u8q99">
                  <a href="/privacy-policy" class="css-1iqfwv7">Privacy</a>
                </li>
                
              </ul>
            </footer>
          </div>
        </footer>
      </div>
  </div>
</div>

