<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
  <div class="row">
    <div class="col-sm-2 form-group required">
        <label for="start" class="col-form-label">Start Date</label>

        <div class="input-group">
            <my-date-picker 
                name="start" 
                [options]="datePickerOptions"
                formControlName="start"
            >
            </my-date-picker>
        </div>
        <div class="small text-warning" ngxErrors="start" #errorName="ngxErrors">
            <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                <div [ngSwitch]="error.name">
                <div *ngSwitchCase="'minlength'">
                    {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                </div>
                <div *ngSwitchCase="'maxlength'">
                    {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                </div>
                <div *ngSwitchDefault>
                    {{ error.text }}
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 form-group required">
      <label for="end" class="col-form-label">End Date</label>

      <div class="input-group">
          <my-date-picker 
              name="end" 
              [options]="datePickerOptions"
              formControlName="end"
          >
          </my-date-picker>
      </div>
      <div class="small text-warning" ngxErrors="end" #errorName="ngxErrors">
          <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
              <div [ngSwitch]="error.name">
              <div *ngSwitchCase="'minlength'">
                  {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
              </div>
              <div *ngSwitchCase="'maxlength'">
                  {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
              </div>
              <div *ngSwitchDefault>
                  {{ error.text }}
              </div>
              </div>
          </div>
      </div>
    </div>

    <div class="col-sm-2 form-group required">
        <label for="pay_date" class="col-form-label">Pay date</label>
        <div class="input-group">
            <my-date-picker 
                name="pay_date" 
                [options]="datePickerOptions"
                formControlName="pay_date"
            >
            </my-date-picker>
        </div>
        <div class="small text-warning" ngxErrors="pay_date" #errorName="ngxErrors">
            <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                <div [ngSwitch]="error.name">
                <div *ngSwitchCase="'minlength'">
                    {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                </div>
                <div *ngSwitchCase="'maxlength'">
                    {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                </div>
                <div *ngSwitchDefault>
                    {{ error.text }}
                </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-1 form-group">
        <label for="end" class="col-form-label">SSS</label>
        <div class="input-group">
            <input type="checkbox" class="form-control" formControlName="include_sss" (click)="includeSSSCheckbox($event)"/> 
        </div>
    </div>

    <div class="col-sm-1 form-group">
        <label for="end" class="col-form-label">Period</label>
        <div class="input-group">
            <select class="form-control" formControlName="period_count">
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
            </select>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
          <label for="" class=""><br/></label><br/>
          <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
              <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
              <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
              <span *ngIf="formSubmitting">Saving...</span>
          </button>
          <button class="btn btn-warning" (click)="cancel()">
              Cancel
          </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 form-group required">
        <label for="pay_coverage_start" class="col-form-label">Coverage Start Date</label>

        <div class="input-group">
            <my-date-picker 
                name="pay_coverage_start" 
                [options]="datePickerOptions"
                formControlName="pay_coverage_start"
            >
            </my-date-picker>
        </div>
        <div class="small text-warning" ngxErrors="pay_coverage_start" #errorName="ngxErrors">
            <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                <div [ngSwitch]="error.name">
                    <div *ngSwitchCase="'required'">
                        {{ error.text }}
                    </div>
                    <div *ngSwitchDefault>
                        {{ error.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 form-group required">
        <label for="pay_coverage_end" class="col-form-label">Coverage End Date</label>

        <div class="input-group">
            <my-date-picker 
                name="pay_coverage_end" 
                [options]="datePickerOptions"
                formControlName="pay_coverage_end"
            >
            </my-date-picker>
        </div>
        <div class="small text-warning" ngxErrors="pay_coverage_end" #errorName="ngxErrors">
            <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                <div [ngSwitch]="error.name">
                    <div *ngSwitchCase="'required'">
                        {{ error.text }}
                    </div>
                    <div *ngSwitchDefault>
                        {{ error.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</form>