
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
      <div class=" col-sm-3">
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                <input type="file" class="form-control" name="dtr_csv" formControlName="dtr_csv"
                  (change)="onFileChanged($event)"
                  #fileInput
                  />
                  
                  <div class="small" *ngIf="uploadProgress">{{ uploadProgress }}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>