<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

  <div class="row">
    <div class="col-sm-2 form-group">
      <label for="name" class="col-form-label">Payroll Template</label>
    
      <div class="spinner-border spinner-border-sm" role="status"
        *ngIf="lists['payrollTemplates'].length == 0"
        >
          <span class="sr-only">Loading...</span>
      </div>
      <select class="form-control" 
        formControlName="type" 
        (change)="selectTemplate($event)"
        *ngIf="lists['payrollTemplates'].length"
      >
        <option value="--">Select Payroll Template</option>
        <option *ngFor="let template of lists.payrollTemplates" value="{{ template.id }}">{{ template.name }}</option>
      </select>
    </div>
<!-- 
    <div class="col-sm-1">
      <label for="name" class="col-form-label">&nbsp;</label>
      <button class="btn btn-success form-control" (click)="reset()">Reset</button>
    </div> -->
  </div>

</form>