<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary pull-right" (click)="add()">Add</button>
    </div>
</div>
<div style="margin: auto;margin-bottom: 50px;">
  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
      [pagination]="false"

      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->

      <data-table-column
          [property]="'salary_bracket'"
          [header]="'Salary Bracket'"
          [sortable]="true"
          [resizable]="true"
        >
            <ng-template #dataTableCell let-item="item">
                <div class="text-center">{{ item.salary_bracket }}</div>
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'salary_range_from'"
          [header]="'Salary Range'"
          [sortable]="true">
           
          <ng-template #dataTableCell let-item="item">
            <div style="white-space: nowrap">
                <span *ngIf="!item.salary_range_from || item.salary_range_from == 0"><strong>Under</strong></span> 
                <span *ngIf="item.salary_range_from && item.salary_range_from != 0">{{ currency.format(item.salary_range_from) }}</span>
                - 
                <span *ngIf="!item.salary_range_to || item.salary_range_to == 0"><strong>Over</strong></span> 
                <span *ngIf="item.salary_range_to && item.salary_range_to != 0">{{ currency.format(item.salary_range_to) }}</span>
            </div>
        </ng-template>
      </data-table-column>

    <data-table-column
        [property]="'salary_base'"
        [header]="'Base Salary'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.salary_base) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'monthly_premium'"
        [header]="'Monthly Premium'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.monthly_premium) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'employee_share'"
        [header]="'Employee\'s Share'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.employee_share) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'employer_share'"
        [header]="'Employer\'s Share'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.employer_share) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'active'"
        [header]="'Active'"
        [width]="100"
        [resizable]="true">
        <ng-template #dataTableHeader let-item="item">
            <span style="color: rgb(232, 0, 0)">Action</span>
        </ng-template>
        <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['benefit.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a>
                &nbsp;
                <a (click)="delete(item)" *ngIf="userService.checkPermission(['benefit.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a>
            </div>
        </ng-template>
    </data-table-column>
  </data-table>
</div>