
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group">
                <label for="name" class="col-form-label">Deduction Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-3">
            <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group">
                <label for="country" class="col-form-label">Country</label>
                <input type="text" class="form-control" id="country" formControlName="country" autocomplete="off" placeholder="Philippines" [disabled]="true">
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group">
                <label for="region" class="col-form-label">Region</label>
                <input type="text" class="form-control" id="region" formControlName="region" autocomplete="off">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
            </div>
        </div>
    </div>
  </form>
</div>