<form>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" value="1"/>
    <label class="form-check-label" for="defaultCheck1">
        Basic Pay
    </label>
  </div>
</form>