<app-filters (filtersChanged)="filtersChanged($event)" [suppData]="suppData"></app-filters>

<div style="margin: auto;margin-bottom: 50px;">
  
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
    >
        <data-table-column
            [property]="'employee_id_number'"
            [header]="'ID'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ item.employee_id_number }}
                <br/>
                <strong>Bio ID:</strong> 
                    <span *ngIf="item.bio_id">{{ item.bio_id }}</span>
                    <span *ngIf="!item.bio_id" class="text-danger"><i>Not Set</i></span>
            </ng-template>
        </data-table-column>
        <data-table-column
            [property]="'bio_id'"
            [header]="'Bio ID'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'first_name'"
            [header]="'Name'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                {{ item.first_name }} {{ item.last_name }}
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'Department'"
            [header]="'Department/Position'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                <span *ngIf="item.job_position">{{ item.job_position.name }}</span>
                at 
                <span *ngIf="item.department">{{ item.department.name }}</span>
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'employment_type'"
            [header]="'Employment Type'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                <span *ngIf="item.employment_type">{{ item.employment_type.name }}</span>
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'employee_template_id'"
            [header]="'Template'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            
            <ng-template #dataTableCell let-item="item">
                <span *ngIf="item.employee_template">{{ item.employee_template.name }}</span>
                <span *ngIf="!item.employee_template"><status-badge status="no" customLabel="NOT SET"></status-badge></span>
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'status'"
            [header]="'Status'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <status-badge 
                    *ngIf="item.status"
                    status="{{ item.status.name }}"
                ></status-badge>
            </ng-template>
        </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
              <!-- {{ settings.crud.update.url + item.id }} -->
              <a [routerLink]="settings.crud.update.url + item.id">
                  <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
              </a>
              <!-- &nbsp;
              <a (click)="delete(item)">
                  <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
              </a> -->
          </ng-template>
      </data-table-column>
  </data-table>
</div>