<app-dropdown-multiselector
    [dropdownList]="lists.deductions"
    [selectedItems]="object.deductions"
    [customSettings]="{
        singleSelection: false,
        idField: 'item_id',
        textField: 'item_text',
        selectAllText: 'Select All',
        unSelectAllText: 'UnSelect All',
        itemsShowLimit: 3,
        allowSearchFilter: true
    }"
    (selectedItem)="assignSelection($event)"
></app-dropdown-multiselector>
<!-- 
<div class="container">
  <div class="row">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>

    <div *ngIf="!lists || !employeeDeductions">
      Loading...
    </div>
    <div *ngIf="lists.deductions && employeeDeductions" class="row">
      <div class="form-check col-sm-6 small" *ngFor="let deduction of lists.deductions">
          <input 
            class="form-check-input" 
            type="checkbox" 
            value="{{ deduction.id }}" 
            [checked]="isAssigned(deduction.id)" 
            (click)="clickedCheckbox($event)"
          >
          <label class="form-check-label">{{ deduction.name }}</label>
      </div>
    </div>
  </div>
</div> -->
