<div *ngIf="object">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>

  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

      <!-- NAME -->
      <div class="row">
          <div class="col-sm-4">
                <div class="form-group">
                    <label for="employee_template_id" class="col-form-label required">Employee Template</label>
                    <select 
                        class="form-control" 
                        id="employee_template_id" 
                        formControlName="employee_template_id"
                        (change)="disableFields($event)"
                    >
                        <option value="null">-- Select </option>
                        <option *ngFor="let employeeTemplate of lists['employee-templates']" value="{{ employeeTemplate.id }}">{{ employeeTemplate.name }}</option>
                    </select>
                </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="employment_type_id" class="col-form-label required">Type of Employment</label>
                <select class="form-control" id="employment_type_id" formControlName="employment_type_id" [attr.disabled]="isDisabled">
                    <option *ngFor="let employmentType of lists.employmentTypes" value="{{ employmentType.id }}">{{ employmentType.name }}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="employment_status_id" class="col-form-label required">Status</label>
                <select class="form-control" id="employment_status_id" formControlName="employment_status_id" [attr.disabled]="isDisabled">
                    <option *ngFor="let employmentStatus of lists.employmentStatus" value="{{ employmentStatus.id }}">{{ employmentStatus.name }}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="sss_number" class="col-form-label required">SSS Number</label>
                <div class="input-group">
                    <input
                        name="sss_number" 
                        formControlName="sss_number"
                        class="form-control"
                        [attr.disabled]="isDisabled"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
              <label for="department_id" class="col-form-label required">Department</label>
              <select class="form-control" id="department_id" formControlName="department_id" [attr.disabled]="isDisabled">
                <option *ngFor="let department of lists.companyDepartments" value="{{ department.id }}">{{ department.name }}</option>
              </select>
            </div>

            
            <div class="form-group">
              <label for="date_hired" class="col-form-label required">Date Hired</label>
              <div class="input-group">
                  <my-date-picker 
                      name="date_hired" 
                      [options]="datePickerOptions"
                      formControlName="date_hired"
                      [attr.disabled]="isDisabled"
                  >
                  </my-date-picker>
              </div>
            </div>

            <div class="form-group">
                <label for="" class="col-form-label required">Shift Template</label>
                <app-dropdown-multiselector
                    [dropdownList]="lists.shiftTemplates"
                    [selectedItems]="object.shift_templates"
                    [customSettings]="{
                        singleSelection: false,
                        idField: 'item_id',
                        textField: 'item_text',
                        selectAllText: 'Select All',
                        unSelectAllText: 'UnSelect All',
                        itemsShowLimit: 3,
                        allowSearchFilter: true
                      }"
                    (selectedItem)="selectedShiftTemplate($event)"
                    [attr.disabled]="isDisabled"
                ></app-dropdown-multiselector>
            </div>
            

            <div class="form-group">
                <label for="" class="col-form-label required">Payroll Template</label>
                <app-dropdown-multiselector
                    [dropdownList]="lists.payrollTemplates"
                    [selectedItems]="object.payroll_templates"
                    [customSettings]="{
                        singleSelection: false,
                        idField: 'item_id',
                        textField: 'item_text',
                        selectAllText: 'Select All',
                        unSelectAllText: 'UnSelect All',
                        itemsShowLimit: 3,
                        allowSearchFilter: true
                        }"
                    (selectedItem)="selectedPayrollTemplate($event)"
                    [attr.disabled]="isDisabled"
                ></app-dropdown-multiselector>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="job_position_id" class="col-form-label required">Position</label>
              <select class="form-control" id="job_position_id" formControlName="job_position_id">
                <option *ngFor="let jobPosition of lists.jobPositions" value="{{ jobPosition.id }}">{{ jobPosition.name }}</option>
              </select>
            </div>

            
            <div class="form-group">
              <label for="date_dismissed" class="col-form-label required">Date Dismissed</label>
              <div class="input-group">
                  <my-date-picker 
                      name="date_dismissed" 
                      [options]="datePickerOptions"
                      formControlName="date_dismissed"
                  >
                  </my-date-picker>
              </div>
            </div>

            <div class="form-group">
                <label for="hourly_rate" class="col-form-label required">Hourly Rate</label>
                <div class="input-group">
                    <input
                        type="number"
                        name="hourly_rate" 
                        formControlName="hourly_rate"
                        class="form-control"
                    />
                </div>
            </div>  

            <div class="form-group">
                <label for="monthly_rate" class="col-form-label required">Monthly Rate</label>
                <div class="input-group">
                    <input
                        type="number"
                        name="monthly_rate" 
                        formControlName="monthly_rate"
                        class="form-control"
                    />
                </div>
            </div>  
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="tin_number" class="col-form-label required">TIN Number</label>
                <div class="input-group">
                    <input
                        name="tin_number" 
                        formControlName="tin_number"
                        class="form-control"
                        [attr.disabled]="isDisabled"
                    />
                </div>
            </div>
        </div>
      </div>


      <div class="row">
          <div class="col-sm-12">
              <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="form.invalid || formSubmitting || isDisabled">
                  <span *ngIf="!formSubmitting">Save</span>
                  <span *ngIf="formSubmitting">Saving...</span>
              </button>

              <!-- &nbsp;<a *ngIf="formMode!='create'" class="btn btn-danger" [routerLink]="settings.crud.list.url">Cancel</a> -->
          </div>
    </div>
  </form>
</div>