.border-right {
    border-right-color: #000 !important; 
    border-right-width: 2px; 
}

.border-left {
    border-left-color: #000 !important; 
    border-left-width: 2px; 
}

.border-top {
    border-top-color: #000 !important; 
    border-top-width: 2px; 
}

.border-bottom {
    border-bottom-color: #000 !important; 
    border-bottom-width: 2px; 
}

.bg-1 {
    background-color:#e1e1e1;
}

.bg-2 {
    background-color: #e5e5e5e5;
}

