<div class="row" *ngIf="payrolls" >
  <div class="col-sm-12">
    <div class="form-group pull-left">
      <select (change)="setPageLimit($event)" class="form-control">
        <option value="10">10</option>
        <option value="25" selected>25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
        <option value="125">125</option>
        <option value="150">150</option>
        <option value="175">175</option>
        <option value="200">200</option>
      </select>
    </div>
    <button (click)="refreshList()" class="btn btn-primary pull-right">Refresh List</button>
  </div>
</div>

<div *ngIf="payrolls && payrolls.length == 0">
  <h2 class="text-center">This Payroll is empty</h2>
</div>
<div *ngIf="!payrolls">
  <h2 class="text-center">Select a payroll log</h2>
</div>

<div class="row">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  
  <div class="col-sm-12" *ngIf="payrolls && payrolls.length">

    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="4" class="text-center bg-1">Active</td>
          <td colspan="3" class="text-center bg-2 border-right border-bottom">Basic &amp; SL/VL</td>
          <td colspan="3" class="text-center bg-1 border-bottom">O.T. / R.D.</td>
          <td colspan="2"></td>
          <td colspan="3" class="text-center bg-1">Deduction</td>
          <td colspan="4">Employer's Cont.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Employee</th>
          <th>Rate ₱</th>
          <th>UT&LA</th>
          <th>Days</th>
          <th>Base ₱</th>
          <th>Hol. ₱</th>
          <th class="border-right">SL/VL ₱</th>
          <th>Hr.</th>
          <th>OT ₱</th>
          <th>RD ₱</th>
          <th>Grosspay</th>
          <th>Adjustments</th>
          <th>URI</th>
          <th>SSS</th>
          <th>Pagibig</th>
          <th>SSS</th>
          <th>PHIC</th>
          <th>Pagibig</th>
          <th>Tax</th>
          <th>Net Due</th>
          <th>SSS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payroll of payrolls">
          <td>{{ payroll.name }}</td>
          <td>{{ payroll.daily_rate }} {{ payroll.hourly_rate }}</td>
          <td>{{ payroll.total_undertime }}</td>
          <td>{{ payroll.total_days }}</td>
          <td>
            {{ payroll.basic_pay }}
          </td>
          <td>{{ payroll.total_holiday_pay }}</td>
          <td class="border-right">SL/VL ₱</td>
          <td>
            {{ payroll.total_overtime }}  
          </td>
          <td>
            <!-- {{ grab(payroll.items, 'overtime') }} -->
            {{ payroll.total_overtime_pay }}
          </td>
          <td>{{ payroll.total_restday_pay }}</td>
          <td>{{ payroll.total_gross }}</td>
          <td>{{ payroll.total_adj_earnings }}</td>
          <td>{{ payroll.total_adj_deductions }}</td>
          <td>
            {{ grab(payroll.items, 'sss') }}
          </td>
          <td>
            {{ grab(payroll.items, 'pag-ibig') }}
          </td>
          <td>
            {{ grab(payroll.items, 'sss', true).data.employer_share }}
          </td>
          <td>
            {{ grab(payroll.items, 'philhealth') }}
          </td>
          <td>
              {{ grab(payroll.items, 'pag-ibig', true).data.employer_share }}
          </td>
          <td>
              {{ grab(payroll.items, 'tax') }}
          </td>
          <td>{{ payroll.total_net }}</td>
          <td>SSS</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>