
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-3">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Month</label>
                        <div class="input-group">
                            <select 
                                class="form-control"
                                name="month" 
                                formControlName="month"
                            >
                            <option *ngFor="let month of months; let i = index" value="{{ i+1 }}">{{ month }}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Year</label>
                        <div class="input-group">
                            <select 
                                class="form-control"
                                name="year" 
                                formControlName="year"
                            >
                            <option *ngFor="let year of range(dateObj().getFullYear(), dateObj().getFullYear()-20)" 
                                value="{{ year }}"
                            >{{ year }}</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="" class=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
                <button class="btn btn-warning" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
  </form>
</div>