<div style="margin: auto;margin-bottom: 50px;">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      
      <data-table-column
          [property]="'first_name'"
          [header]="'Name'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <div><strong>{{ item.employee_id_number }}</strong></div>
                <div>{{ item.first_name }} {{ item.last_name }}</div>
            </ng-template>
      </data-table-column>

      <data-table-column
        [property]="'status'"
        [header]="'Timelog Status'"
        [sortable]="true"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <div>Approved: 
                    <span [class.text-success]="item.timelog_approved > 0">
                            {{ item.timelog_approved }}
                    </span>
                </div>
                <div>Pending: 
                        <span [class.text-warning]="item.timelog_pending > 0">
                                {{ item.timelog_pending }}
                        </span>
                    </div>
                    <div>Invalid: 
                    <span [class.text-danger]="item.timelog_invalid > 0">
                            {{ item.timelog_invalid }}
                    </span>
                </div>
            </ng-template>
    </data-table-column>

      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <!-- <a (click)="view(item)" *ngIf="userService.checkPermission(['timelog.read'])">
                    <i class="fa fa-eye cursor-pointer" placement="top" ngbTooltip="View"></i>
                </a> -->
                <a 
                    [routerLink]="'/app/settings/system/timelogs/' + item.id" 
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    *ngIf="userService.checkPermission(['timelog.read'])"
                >
                    <i class="fa fa-eye cursor-pointer" placement="top" ngbTooltip="View"></i>
                </a>
                
                <!-- &nbsp;
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['timelog.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a> -->
                <!-- &nbsp;
                <a (click)="delete(item)" *ngIf="userService.checkPermission(['timelog.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a> -->
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>