<div style="margin: auto;margin-bottom: 50px;">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="false"
      [showReloading]="true"
      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      
      <data-table-column
          [property]="'name'"
          [header]="'Name'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <div><strong>{{ item.employee.employee_id_number }}</strong></div>
                <div>{{ item.employee.first_name }} {{ item.employee.last_name }}</div>
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'time_in'"
          [header]="'Log'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>
                    <span *ngIf="item.shift_template">
                        {{ item.shift_template.name }}
                    </span> - 
                    <span *ngIf="item.shift_template_period">
                        {{ item.shift_template_period.name }}
                    </span>
                    <span *ngIf="!item.shift_template_period">
                        <strong><i>Period not detected</i></strong>
                    </span>
                    <br/>
                </span>
    
                <span *ngIf="item.time_in">
                    <strong>Time in:</strong> {{ item.time_in.date | date: 'MMM dd, yyyy h:mm a'}}
                </span>
               <br/>
               <span>
                    <strong>Time out:</strong>
                    <span *ngIf="item.time_out">
                        {{ item.time_out.date | date: 'MMM dd, yyyy h:mm a'}}
                    </span>
                    <span *ngIf="!item.time_out">
                        <i>N/A</i>
                    </span>
               </span>
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'durations'"
          [header]="'Durations'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <span *ngIf="item.time_out">
                    <span><strong>Elapsed Time:</strong> {{ item.time_elapsed }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.time_elapsed>0" ngbTooltip="{{ minutesToHoursMinutes(item.time_elapsed) }}"></i></span>
                    <br/>
                    <span><strong>Tardy:</strong> {{ item.tardy_minutes }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.tardy_minutes>0" ngbTooltip="{{ minutesToHoursMinutes(item.tardy_minutes) }}"></i></span>
                    <br/>
                    <span><strong>Overtime:</strong> {{ item.overtime_minutes }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.overtime_minutes>0" ngbTooltip="{{ minutesToHoursMinutes(item.overtime_minutes) }}"></i></span>
                    <br/>
                    <span><strong>Billable:</strong> {{ item.billable_minutes }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.billable_minutes>0" ngbTooltip="{{ minutesToHoursMinutes(item.billable_minutes) }}"></i></span>
                </span>
                <span *ngIf="!item.time_out">
                    <i>N/A</i>
                </span>
            </ng-template>
      </data-table-column>


      <data-table-column
          [property]="'status'"
          [header]="'Status'"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <status-badge 
                    *ngIf="item"
                    status="{{ item.status }}"
                ></status-badge>
            
            </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a (click)="view(item)" *ngIf="userService.checkPermission(['timelog.read'])">
                    <i class="fa fa-eye cursor-pointer" placement="top" ngbTooltip="View"></i>
                </a>
                &nbsp;
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['timelog.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a>
                &nbsp;
                <a (click)="delete(item)" *ngIf="userService.checkPermission(['timelog.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a>
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>