<div *ngIf="object">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>
  
    <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
  
        <!-- NAME -->
            <div class="form-group">
                <label for="password" class="col-form-label required">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off">
      
                <div class="small text-warning" ngxErrors="password" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                        <div [ngSwitch]="error.name">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
  
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success" (click)="submit()" [attr.disabled]="!form.valid || formSubmitting">
                    <span *ngIf="!formSubmitting">Save</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
            </div>
      </div>
    </form>
  </div>