<div class="row">
  <div class="col-lg-12">
      <div class="accordion" id="accordionTimelogInput">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-upload"></i> Import DTR
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionTimelogInput">
            <div class="card-body">
                <app-form-import></app-form-import>
            </div>
          </div>
        </div>
      </div>

    <app-form (triggerReloadList)="triggerReloadList($event)" [object]="_object" (objectChanged)="getObject($event)" *ngIf="_object"></app-form>
  </div>
  <div class="col-lg-12">
    <br/><br/>
    <app-filters (filtersChanged)="filtersChanged($event)"></app-filters>
    <div style="position: relative;">
        <app-list [(triggerListReload)]="_triggerReloadList" (object)="getObject($event)" [filters]="filters"></app-list>
    </div>
  </div>
</div>    