<div class="container">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>

  <form [formGroup]="form" class="form" novalidate  autocomplete="off" *ngIf="payslip"> 
    <div class="row">
        <div class=" col-sm-12">
            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="type" class="col-form-label">Adustment Type</label>
                        <div class="input-group">
                          <select 
                              class="form-control"
                              name="type" 
                              formControlName="type"
                          >
                            <option value="ADJ_EARNING">Earning</option>
                            <option value="ADJ_DEDUCTION">Deduction</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" formControlName="name" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="value" class="col-form-label">Value</label>
                        <div class="input-group">
                            <input type="number" name="value" class="form-control" formControlName="value" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="multiplier" class="col-form-label">Multiplier</label>
                        <div class="input-group">
                          <select name="multiplier" class="form-control" formControlName="multiplier">
                            <option value="flat">Flat</option>
                            <option value="percentage">Percentage</option>
                          </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2" *ngIf="form.get('multiplier').value && form.get('multiplier').value!='flat'">
                    <div class="form-group">
                        <label for="reference" class="col-form-label">Reference</label>
                        <div class="input-group">
                          <select name="reference" class="form-control" formControlName="reference">
                            <option value="">- None -</option>
                            <option *ngFor="let item of payslip.items" value="{{ item.id }}">{{ item.name }} </option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="text-right">
              <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                  <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                  <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                  <span *ngIf="formSubmitting">Saving...</span>
              </button>
              <button class="btn btn-warning" (click)="cancel()">
                  Cancel
              </button>
          </div>
      </div>
    </div>
  </form>
  <br/>
</div>