<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

  <div class="row">

    <div class="col-sm-3 form-group">
      <label for="name" class="col-form-label">Search <strong>Employee ID</strong>, <strong>Employee name</strong></label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="col-sm-1 form-group">
      <label for="name" class="col-form-label">Type</label>
      <select class="form-control" formControlName="type" (change)="startFilter()">
        <option value="0" selected>All</option>
        <option *ngFor="let type of suppData['leave-types']" value="{{ type.id }}">{{ type.name }}</option>
      </select>
    </div>

    <div class="col-sm-1 form-group">
      <label for="name" class="col-form-label">Status</label>
      <select class="form-control" formControlName="status"
        (change)="startFilter()">
        <option value="0" selected>All</option>
        <option value="pending">Pending</option>
        <!-- <option value="approved">Approved</option> -->
      </select>
    </div>

    <!-- <div class="col-sm-2 form-group">
      <label for="start" class="col-form-label required">Dates</label>
      <div class="input-group">
          <my-date-picker 
              name="start" 
              [options]="datePickerOptions1"
              [disabled]="disabled" 
              formControlName="start"
              (dateChanged)="dateChanged('start', $event)"
          >
          </my-date-picker>
      </div>
    </div> -->

    <div class="col-sm-1">
      <label for="name" class="col-form-label">&nbsp;</label>
      <button class="btn btn-success form-control" (click)="reset()">Reset</button>
    </div>
  </div>

</form>