
<div class="containe">
    <h5 *ngIf="object">{{ object.first_name }} {{ object.last_name }}</h5>
    <app-overlay [toggle]="toggleOverlay"></app-overlay>
    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab id="tab-form-details" title="Personal">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-10">
                            
                            <!-- <app-details [lists]="lists" [object]="object" [objectId]="objectId"></app-details> -->
                            <app-details [lists]="lists" [object]="object"></app-details>
                        </div>
                        <div class="col-sm-2">
                            <app-profile-picture [object]="object"></app-profile-picture>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="tab-employment" title="Employment" *ngIf="object && userService.checkPermission(['employee.employment-update'])">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <app-employment [lists]="lists" [object]="object"></app-employment>
                </div>
            </ng-template>
        </ngb-tab>

        <!-- <ngb-tab id="tab-govt-remittance" title="Government Remittance" *ngIf="object && userService.checkPermission(['employee.remittance-browse'])">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <app-remittance [lists]="lists" [object]="object"></app-remittance>
                </div>
            </ng-template>
        </ngb-tab> -->

        <ngb-tab id="tab-payslips" title="Payslips" *ngIf="object && userService.checkPermission(['employee.payslip-browse'])">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <app-payslips [object]="object"></app-payslips>
                </div>
            </ng-template>
        </ngb-tab>
        <!-- <ngb-tab id="tab-timelogs" title="Timelogs" *ngIf="object">
                <ng-template ngbTabContent>
                    <div class="container-fluid">
                        <app-timelogs [object]="object"></app-timelogs>
                    </div>
                </ng-template>
            </ngb-tab> -->

        <!-- <ngb-tab id="tab-history" title="History" *ngIf="object && userService.checkPermission(['employee.log-browse'])">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <app-logs [object]="object"></app-logs>
                </div>
            </ng-template>
        </ngb-tab> -->

        <ngb-tab id="tab-admin-authentication" title="Admin" *ngIf="object">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <app-admin [lists]="lists" [object]="object"></app-admin>
                </div>
            </ng-template>
        </ngb-tab>
    
    </ngb-tabset>
</div>