
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off" *ngIf="formMode=='create' || (formMode=='update' && (object && object.status=='PENDING'))"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="employee_id" class="col-form-label">Employee</label>
                <div *ngIf="formMode=='update'">
                    <strong class="small">{{ object.employee.first_name }} {{ object.employee.last_name }}</strong>
                </div>

                <select class="form-control" id="employee_id" formControlName="employee_id" *ngIf="formMode=='create'">
                    <option></option>
                    <option 
                        *ngFor="let employee of employees" 
                        [attr.value]="employee.id"
                        [attr.selected]="(object && employee.id==object.employee_id) ? 'selected': null"
                        >
                            {{ employee.first_name }} {{ employee.last_name }} 
                    </option>
                </select>
            </div>
        </div>


        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="total_amount" class="col-form-label">Amount</label>
                <input type="number" class="form-control" id="total_amount" formControlName="total_amount" autocomplete="off" min="1"
                    (keyup)="countPaydays()"
                    />
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="payable_per_period" class="col-form-label">Payable per payday</label>
                <input type="number" class="form-control" id="payable_per_period" formControlName="payable_per_period" autocomplete="off"  min="1"
                    (keyup)="countPaydays()"
                    />
            </div>
        </div>

        <div class=" col-sm-1">
            <div class="form-group">
                <label for="payable_per_period" class="col-form-label"># of Paydays</label>
                <div class="input-group">
                    <strong class="small">{{ numberOfPeriods }}</strong>
                </div>
            </div>
        </div>


        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="description" class="col-form-label">Duration Start</label>
                <div class="input-group">
                    <my-date-picker 
                        name="duration_start" 
                        [options]="datePickerOptions"
                        formControlName="duration_start"
                        [attr.disabled]="isDisabled"
                    >
                    </my-date-picker>
                </div>
            </div>
        </div>

        <div class=" col-sm-2">
                <div class="form-group">
                    <label for="description" class="col-form-label">Duration End</label>
                    <div class="input-group">
                        <my-date-picker 
                            name="duration_end" 
                            [options]="datePickerOptions"
                            formControlName="duration_end"
                            [attr.disabled]="isDisabled"
                        >
                        </my-date-picker>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-sm-3">
            <div class="form-group required">
                <label for="description" class="col-form-label">Notes</label>
                <div class="input-group">
                    <textarea name="notes" class="form-control" formControlName="notes" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
            </div>
        </div>

        <div class="col-sm-6" *ngIf="formMode=='update'">
            <label for=""><br/></label><br/>
            <button type="submit" class="btn btn-primary" (click)="approve()" [disabled]="statusChanging">
                <span *ngIf="formMode=='update' && !formSubmitting">APPROVE</span>
                <span *ngIf="formSubmitting">Processing...</span>
            </button>
            &nbsp;
            <button type="submit" class="btn btn-danger" (click)="disapprove()" [disabled]="statusChanging">
                <span *ngIf="formMode=='update' && !formSubmitting">DISAPPROVE</span>
                <span *ngIf="formSubmitting">Processing...</span>
            </button>
            &nbsp;
            <button type="submit" class="btn btn-warning" (click)="close()" [disabled]="statusChanging">
                <span *ngIf="formMode=='update' && !formSubmitting">CLOSE</span>
                <span *ngIf="formSubmitting">Processing...</span>
            </button>
        </div>

        
    </div>
  </form>

  <div *ngIf="formMode=='update' && object && (object.status=='ACTIVE' || object.status=='APPROVED' || object.status=='DISAPPROVED' || object.status=='CLOSED' )">
    <div class="row">

        <div class="col-sm-6">
            <div class="col-sm-12 text-small small">
                Name: {{ object.employee.first_name }} {{ object.employee.last_name }}
            </div>
            <div class="col-sm-12 text-small small">
                Total Amount: {{ object.total_amount }}
            </div>
            <div class="col-sm-12 text-small small">
                Total Amount Paid: {{ object.paid_amount }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="col-sm-12 text-small small">
                Status: <status-badge 
                    *ngIf="object.status"
                    status="{{ object.status }}"
                ></status-badge>

            </div>

            <div class="col-sm-12 text-small small" *ngIf="object.status == 'DISAPPROVED' || object.status == 'APPROVED' || object.status == 'ACTIVE'">
                Actions: 
                <div >
                    <button type="submit" class="btn btn-success" (click)="close()" [disabled]="!form.valid || formSubmitting">
                        <span>Close</span>
                        <span *ngIf="formSubmitting">Saving...</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-sm-12">
            <br/><br/>
            <div *ngIf="logs.length == 0">
                No logs
            </div>

            <table class="table table-striped" *ngIf="logs.length">
                <thead class="thead-dark">
                    <tr>
                        <th width="20%">Date</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs">
                        <td>
                            {{ formatDateFix(log.created_at) | date : 'MMM dd, yyyy h:mm a'  }}
                        </td>
                        <td><div [innerHTML]="log.notes"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


  </div>
</div>