<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary pull-right" (click)="add()">Add</button>
    </div>
</div>
<div style="margin: auto;margin-bottom: 50px;">

  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
      [pagination]="false"

      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      <data-table-column
          [property]="'compensation_level_period'"
          [header]="'Compensation Period'"
          [sortable]="true"
          [resizable]="true"
        >
            <!-- <ng-template #dataTableCell let-item="item">
                <div style="white-space: nowrap">
                    <span *ngIf="!item.compensation_from"><strong>Under</strong></span> 
                    <span *ngIf="item.compensation_from">{{ currency.format(item.compensation_from) }}</span>
                    - 
                    <span *ngIf="!item.compensation_to"><strong>Over</strong></span> 
                    <span *ngIf="item.compensation_to">{{ currency.format(item.compensation_to) }}</span>
                </div>
            </ng-template> -->
      </data-table-column>

      <data-table-column
          [property]="'salary_range_from'"
          [header]="'Salary Range'"
          [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.salary_range_from) }} 
                - 
                {{ currency.format(item.salary_range_to) }}
            </ng-template>
      </data-table-column>

    <data-table-column
        [property]="'withholding_tax'"
        [header]="'Withholding Tax'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.withholding_tax) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'withholding_percentage'"
        [header]="'Withholding Percentage'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                    <span *ngIf="item.withholding_percentage>0">{{ item.withholding_percentage * 100 }}%</span>
            </ng-template>
    </data-table-column>       



      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['benefit.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a>
                &nbsp;
                <a (click)="delete(item)" *ngIf="userService.checkPermission(['benefit.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a>
            </div>
          </ng-template>
      </data-table-column>
  </data-table>

</div>