/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
 
/* Show it is fixed to the top */
body {
  min-height: 100px;
  padding-top: 4.5rem;
}

.bg-inverse {
    background-color: #292b2c!important;
}

.cursor-pointer{
  cursor: pointer;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.overlay-container {
  position: relative;
}