<div class="container-fluid">
  <div class="row">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>
    <div *ngIf="lists['roles']">
      <div class="form-check" *ngFor="let role of lists.roles">
          

          <label class="col-form-label">
              <input 
                  class="form-check-input checkbox-role" 
                  type="checkbox" 
                  value="{{ role.name }}" 
                  (click)="assignRole($event.target)"
                  [checked]="isAttached(role.name)"
              >
              {{ role.name | uppercase }}
          
          </label>
              
              
      </div>
    </div>
  </div>
</div>