<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

  <div class="row">

    <div class="col-sm-3 form-group">
      <label for="name" class="col-form-label">Search <strong>Employee ID</strong>, <strong>Employee name</strong></label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="col-sm-1 form-group">
      <label for="name" class="col-form-label">Department</label>
      <select class="form-control" 
        formControlName="company_department_id"
        (change)="startFilter()">
        <option value="0" selected>All</option>
        <option *ngFor="let department of suppData.departments" value="{{department.id}}">
          {{ department.name }}
        </option>
        <!-- <option value="approved">Approved</option> -->
      </select>
    </div>

    <div class="col-sm-1 form-group">
      <label for="name" class="col-form-label">Position</label>
      <select class="form-control" 
        formControlName="job_position_id"
        (change)="startFilter()">
        <option value="0" selected>All</option>
        <option *ngFor="let position of suppData.positions" value="{{position.id}}">
          {{ position.name }}
        </option>
        <!-- <option value="approved">Approved</option> -->
      </select>
    </div>

    <div class="col-sm-1">
      <label for="name" class="col-form-label">&nbsp;</label>
      <br/>
      <button class="btn btn-success" (click)="reset()">Reset</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 form-group">
      <label for="name" class="col-form-label">Employment Status</label>
      <select class="form-control" 
        formControlName="employment_status_id"
        (change)="startFilter()">
        <option value="0" selected>All</option>
        <option *ngFor="let status of suppData.status" value="{{status.id}}">
          {{ status.name }}
        </option>
      </select>
    </div>

    <div class="col-sm-2 form-group">
      <label for="name" class="col-form-label">Employment Type</label>
      <select class="form-control" 
        formControlName="employment_type_id"
        (change)="startFilter()">
        <option value="0" selected>All</option>
        <option *ngFor="let employmentType of suppData.employmentTypes" value="{{employmentType.id}}">
          {{ employmentType.name }}
        </option>
      </select>
    </div>

  </div>

</form>