<app-filter (objectChanged)="objectChanged($event)"></app-filter>

<div *ngIf="!items || !items.length">
  <h2 class="text-center">Please make a date selection</h2>
</div>
<table class="table table-bordered" *ngIf="items">
  <thead>
    <tr>
      <td colspan="4" style="background-color:#e1e1e1;">Active</td>
      <td colspan="3" style="background-color:#e5e5e5e5;">Basic &amp; SL/VL</td>
      <td colspan="3" style="background-color:#e1e1e1;">O.T. / R.D.</td>
      <td colspan="2"></td>
      <td colspan="3" style="background-color:#e1e1e1;">Deduction</td>
      <td colspan="4"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Employee</th>
      <th>Rate ₱</th>
      <th>UT&LA</th>
      <th>Days</th>
      <th>Base ₱</th>
      <th>Hol. ₱</th>
      <th>SL/VL ₱</th>
      <th>Hr.</th>
      <th>OT ₱</th>
      <th>RD ₱</th>
      <th>Grosspay</th>
      <th>Adjustments</th>
      <th>URI</th>
      <th>SSS</th>
      <th>Pagibig</th>
      <th>SSS</th>
      <th>PHIC</th>
      <th>Pagibig</th>
      <th>Tax</th>
      <th>Net Due</th>
      <th>SSS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.name}}</td>
      <td>{{ item.hourly_rate }}</td>
      <td>UT&LA</td>
      <td>Days</td>
      <td>{{ item.employee.monthly_rate }}</td>
      <td>Hol. ₱</td>
      <td>SL/VL ₱</td>
      <td>Hr.</td>
      <td>
        <span *ngFor="let payroll_item of item.items">
          <span *ngIf="payroll_item.name.toLowerCase() == 'overtime'">
            {{ payroll_item.total_net }}
          </span>
        </span>
      </td>
      <td>RD ₱</td>
      <td>{{ item.total_gross }}</td>
      <td>{{ item.total_adjustments }}</td>
      <td>{{ item.total_adjustments }}</td>
      <td>
          <span *ngFor="let payroll_item of item.items">
            <span *ngIf="payroll_item.name.toLowerCase() == 'sss'">
              {{ payroll_item.total_net }}
            </span>
          </span>
      </td>
      <td>
          <span *ngFor="let payroll_item of item.items">
            <span *ngIf="payroll_item.name.toLowerCase() == 'pag-ibig'">
              {{ payroll_item.total_net }}
            </span>
          </span>
      </td>
      <td>SSS</td>
      <td>PHIC</td>
      <td>Pagibig</td>
      <td>
          <span *ngFor="let payroll_item of item.items">
            <span *ngIf="payroll_item.name.toLowerCase() == 'bir'">
              {{ payroll_item.total_net }}
            </span>
  
          </span>
      </td>
      <td>{{ item.total_net }}</td>
      <td>SSS</td>
    </tr>
  </tbody>
</table>