
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">

        <div class=" col-sm-2">
            <div class="form-group">
                <label for="shift_template_id" class="col-form-label required">Shift Template</label>
                <select class="form-control" id="shift_template_id" formControlName="shift_template_id">
                    <option *ngFor="let shiftTemplate of shiftTemplates" value="{{ shiftTemplate.id }}">{{ shiftTemplate.name }}</option>
                </select>
            </div>
        </div>
        
        <div class=" col-sm-2">
            <div class="form-group">
                <label for="name" class="col-form-label">Period Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group">
                <label for="grace_period" class="col-form-label">Grace Period</label>
                <input type="text" class="form-control" id="grace_period" formControlName="grace_period" autocomplete="off" placeholder="mm">
                <small id="passwordHelpBlock" class="form-text text-muted">
                 In minutes
                </small>
            </div>
        </div>

        <div class=" col-sm-1">
            <div class="form-group">
                <label for="start" class="col-form-label">Start</label>
                <input type="text" class="form-control" id="start" formControlName="start" autocomplete="off" placeholder="hh:mm">
            </div>
        </div>

        <div class=" col-sm-1">
            <div class="form-group">
                <label for="end" class="col-form-label">End</label>
                <input type="text" class="form-control" id="end" formControlName="end" autocomplete="off" placeholder="hh:mm">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
                <button type="submit" class="btn btn-warning" (click)="cancel()">
                    <span *ngIf="!formSubmitting">Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_m" id="day_m" value="1" [checked]="days.day_m" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_m">
                    Monday
                </label>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_t" id="day_t" value="1" [checked]="days.day_t" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_t">
                    Tuesday
                </label>
            </div>
        </div>

        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_w" id="day_w" value="1" [checked]="days.day_w" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_w">
                    Wednesday
                </label>
            </div>
        </div>

        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_th" id="day_th" value="1" [checked]="days.day_th" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_th">
                    Thursday
                </label>
            </div>
        </div>

        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_f" id="day_f" value="1" [checked]="days.day_f" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_f">
                    Friday
                </label>
            </div>
        </div>

        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_s" id="day_s" value="1" [checked]="days.day_s" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_s">
                    Saturday
                </label>
            </div>
        </div>

        <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="day_sun" id="day_sun" value="1" [checked]="days.day_sun" (click)="clickedCheckbox($event)">
                <label class="form-check-label" class="col-form-label" for="day_sun">
                    Sunday
                </label>
            </div>
        </div>
    </div>
  </form>
</div>