<div class="container-fluid">

    <div class="row">
      <div class="col-sm-10">
        <h2 class="page-header">{{ settings.plural }}</h2>
      </div>
      <div class="col-sm-2 text-right">
        <a [routerLink]="settings.crud.list.url" class="btn btn-primary">List</a>
        &nbsp;<a [routerLink]="settings.crud.create.url" class="btn btn-primary">Add</a>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
        

          <!-- <div class="accordion" id="accordionTimelogInput">
                  <div class="card rounded">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-pencil"></i> Manual Entry
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTimelogInput">
                      <div class="card-body">
                          <app-form [selectedObject]="object" (triggerReloadList)="triggerReloadList($event)"></app-form>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
            <app-list (selectedObject)="selectedObject($event)" [triggerListReload]="triggerReload"></app-list>
          </div> -->
    </div>
  </div>