<div class="main-container">
  <!-- <app-custom-item-form [payslip]="payslip" *ngIf="payslip"></app-custom-item-form> -->

  <h3 class="text-center" *ngIf="!payslip">Loading...</h3>

  <div class="small" *ngIf="payslip">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="pull-left">Paylsip # {{ payslip.id }} </h4>
            <small class="pull-right">Last updated: {{ payslip.updated_at }}</small>
          </div>
          <div class="col-sm-12">
            <a class="cursor-pointer btn btn-success btn-sm" (click)="openPDF(payslip.id)" ngbTooltip="Allow popups in your browser before proceeding">View PDF</a>
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            
            <div class="row">
              <div class="col-sm-5">
                  Name: 
              </div>
              <div class="col-sm-7">
                  {{ payslip.name }}
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            
              <div class="row">
                <div class="col-sm-6">
                    Total Gross: 
                </div>
                <div class="col-sm-6 text-right">
                    {{ payslip.total_gross }}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                    Total Deduction: 
                </div>
                <div class="col-sm-6 text-right">
                    -({{ payslip.total_deduction }})
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                    Total Adjustments: 
                </div>
                <div class="col-sm-6 text-right">
                    {{ payslip.total_adjustments }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    <strong>Net Income:</strong>
                </div>
                <div class="col-sm-6 border-top text-right">
                    <strong>{{ payslip.total_net_with_adjustments }}</strong>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Earnings</h3>
        <table class="table">
          <tbody>
            <ng-container *ngFor="let item of payslip.i.EARNING">
              <tr >
                <td class="label">{{ item.name }}</td>
                <td>{{ item.total_net }}</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr class="total">
              <td class="text-right">Total</td>
              <td>{{ payslip.total_gross }}</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-sm-6">
          <h3>Deductions</h3>
        <table class="table">
          <tbody>
            <ng-container *ngFor="let item of payslip.i.DEDUCTION">
              <tr >
                <td class="label">{{ item.name }}</td>
                <td>{{ item.total_net }}</td>
              </tr>
            </ng-container>
            <tr >
              <td class="label">Withholding Tax</td>
              <td>{{ payslip.wtax }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="total">
                <td class="text-right">Total</td>
              <td>{{ payslip.total_deduction }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr/>
        <h5 class="pull-left">Adjustments</h5> 
          <a class="cursor-pointer border rounded border-success text-success rounded-circle" (click)="openAdjustmentForm()"><i class="fa fa-plus"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">    
        <table class="table" *ngIf="payslip.i.ADJ_EARNING">
          <tbody>
            <ng-container *ngFor="let item of payslip.i.ADJ_EARNING">
              <tr>
                <td>EARNINGS</td>
                <td class="label">{{ item.name }}</td>
                <td>{{ item.total_net }}</td>
                <td>
                      <span *ngIf="item.data.multiplier == 'percentage'">
                        {{ item.data.value }}% <span *ngIf="item.data.reference && item.data.reference.id">of</span>

                        <span *ngIf=" item.data.reference && item.data.reference.id">
                          <strong>{{ item.data.reference.name }}</strong>
                        </span>
                      </span>
                      <span *ngIf="item.data.multiplier == 'flat'">
                          {{ item.data.value }} <strong>On top</strong>
                      </span>
  
                </td>
                <td>
                  <a class="cursor-pointer" ngbTooltip="Edit" (click)="openAdjustmentForm(item)"><i class="fa fa-pencil"></i></a>
                  <a class="cursor-pointer" ngbTooltip="Delete" (click)="deleteAdjustment(item)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr class="total">
              <td></td>
              <td class="text-right">Total</td>
              <td>{{ payslip.adjustment_earning }}</td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table" *ngIf="payslip.i.ADJ_DEDUCTION">
          <tbody>
            <ng-container *ngFor="let item of payslip.i.ADJ_DEDUCTION">
              <tr>
                <td>DEDUCTIONS</td>
                <td class="label">{{ item.name }}</td>
                <td>{{ item.total_net }}</td>
                <td>
                  <span *ngIf="item.data.multiplier == 'percentage'">
                    {{ item.data.value }}% <span *ngIf="item.data.reference && item.data.reference.id">of</span>
                  </span>
                  <span *ngIf="item.data.multiplier == 'flat'">
                      {{ item.data.value }} <span *ngIf="item.data.reference && item.data.reference.id">from</span>
                  </span>

                  <span *ngIf="item.data.reference && item.data.reference.id">
                       <strong>{{ item.data.reference.name }}</strong>
                  </span>

                  <span *ngIf="!item.data.reference">
                    <strong>On top</strong>
                  </span>
                </td>
                <td>
                  <a class="cursor-pointer" ngbTooltip="Edit" (click)="openAdjustmentForm(item)"><i class="fa fa-pencil"></i></a>
                  <a class="cursor-pointer" ngbTooltip="Delete" (click)="deleteAdjustment(item)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr class="total">
              <td></td>
              <td class="text-right">Total</td>
              <td>{{ payslip.adjustment_deduction }}</td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
  
    </div>
  </div>
</div>