<div class="form-group">
  <div class="text-danger">Note: This action may have direct impact on your analytics. Please use with caution.</div>
  <button class="btn btn-danger" (click)="delete()">Delete Employee Record</button>
</div>