
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="name" class="col-form-label">Holiday</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
                <div class="small text-warning" ngxErrors="name" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                        <div [ngSwitch]="error.name">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-2">
            <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="start_date" class="col-form-label">Date</label>

                <div class="input-group">
                    <my-date-picker 
                        name="start_date" 
                        [options]="datePickerOptions"
                        formControlName="start_date"
                    >
                    </my-date-picker>
                </div>
                <div class="small text-warning" ngxErrors="start_date" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                        <div [ngSwitch]="error.name">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="holiday_type_id" class="col-form-label">Holiday Type</label>
                <select class="form-control" id="holiday_type_id" formControlName="holiday_type_id" *ngIf="lists">
                    <option *ngFor="let type of lists['holiday-types']" value="{{ type.id }}" [selected]="true">{{ type.name }}</option>
                </select>

                <div class="small text-warning" ngxErrors="holiday_type_id" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                        <div [ngSwitch]="error.name">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Add</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>

                <button type="submit" class="btn btn-success" (click)="cancel()">
                    <span *ngIf="!formSubmitting">Cancel</span>
                </button>
            </div>
        </div>
    </div>
  </form>
</div>