<div *ngIf="action=='list'" class="clearfix">

  <h1>{{ settings.plural }} </h1>

  <div size="btn-toolbar medium" class="pull-right">
    <a *ngIf="settings.crud.create.allow" class="cursor-pointer btn btn-sm" [routerLink]="[settings.crud.create.url]"><i class="fa fa-plus"></i></a>
    <a class="cursor-pointer btn btn-sm" (click)="doRefreshList()"><i class="fa fa-refresh"></i></a>
  </div>
</div>

<div *ngIf="action=='edit'" class="clearfix">
    <h1>
      <span *ngIf="title.length > 0">
        {{ title }}
      </span>
      <span *ngIf="title.length == 0">
        Edit {{ settings.singular }} {{ id }}
      </span>
    </h1>

    <a [routerLink]="[settings.crud.list.url]" class="btn btn-tn btn-success pull-right btn-space-left btn-sm">List</a>
</div>

<div *ngIf="action=='create'" class="clearfix">
    <h1>
        <span *ngIf="title.length > 0">
          {{ title }}
        </span>
        <span *ngIf="title.length == 0">
          Create {{ settings.singular }}
        </span>
      </h1>

    <a [routerLink]="[settings.crud.list.url]" class="btn btn-tn btn-success pull-right btn-space-left btn-sm">List</a>
</div>