<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

  <div class="row">
    <div class="col-sm-1 form-group">
      <label for="name" class="col-form-label">Status</label>
      <!-- <select class="form-control" formControlName="status" -->
      <select class="form-control" formControlName="status"
        (change)="startFilter()">
        <option value="all" selected>All</option>
        <option value="pending">Pending</option>
        <option value="invalid">Invalid</option>
        <option value="approved">Approved</option>
        <option value="close">Closed</option>
        <!-- <option value="pending">Pending</option>
        <option value="invalid">Invalid</option>
        <option value="close">Close</option>
        <option value="valid">Validated</option> -->
      </select>
    </div>
    
    <div class="col-sm-2 form-group">
      <label for="start" class="col-form-label">Time In</label>
      <div class="input-group">
          <my-date-picker 
              name="time_in" 
              [options]="datePickerOptions1"
              formControlName="time_in"
              (dateChanged)="dateChanged('time_in', $event)"
          >
          </my-date-picker>
      </div>
    </div>

    <div class="col-sm-2 form-group">
      <label for="start" class="col-form-label">Time Out</label>
      <div class="input-group">
          <my-date-picker 
              name="time_out" 
              [options]="datePickerOptions1"
              formControlName="time_out"
              (dateChanged)="dateChanged('time_out', $event)"
          >
          </my-date-picker>
      </div>
    </div>
  
    <!--
    <div class="col-sm-2 form-group">
      <label for="start" class="col-form-label">End</label>
      <div class="input-group">
          <my-date-picker 
              name="date_end" 
              [options]="datePickerOptions1"
              [disabled]="disabled" 
              formControlName="date_end"
              (dateChanged)="dateChanged('date_end', $event)"
          >
          </my-date-picker>
      </div>
    </div>
    -->

    <div class="col-sm-1">
      <label for="name" class="col-form-label">&nbsp;</label>
      <button class="btn btn-success form-control" (click)="reset()">Reset</button>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="is_rest_day" type="checkbox" value="1" id="is_rest_day" (change)="checkboxChanged($event)">
          <label class="form-check-label col-form-label" for="inlineCheckbox1">Rest Day</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="is_auto_approve" type="checkbox" value="1" id="is_auto_approve" (change)="checkboxChanged($event)">
          <label class="form-check-label col-form-label" for="inlineCheckbox1">Auto Approved</label>
      </div>
    </div>
  </div>

</form>