<form [formGroup]="form" >
  <div class="row">
	  <div class="col-sm-2" *ngIf="!employee">
			<!-- [{{ searching }} | {{ searchFailed }}]
			<br/>
			A typeahead example that gets values from a static <code>string[]</code>
			<ul>
			  <li><code>debounceTime</code> operator</li>
			  <li>kicks in only if 2+ characters typed</li>
			  <li>limits to 10 results</li>
			</ul> -->
			
			<label for="typeahead-basic">Search for employee:</label>
			<input 
				type="text" class="form-control" 
				formControlName="employee_id" 
				[ngbTypeahead]="search"
				[resultFormatter]="formatter"
			/>
			<!-- <hr>
			<pre>Model: {{ model | json }}</pre> -->

	  </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label class="col-form-label">Time In Date</label>
        <my-date-picker 
          name="time_in" 
          [options]="datePickerOptions"
		  formControlName="time_in_date"
		  tabindex="1"
          >
        </my-date-picker>
      </div>

      <div class="form-group">
          <label class="col-form-label">Time In Time</label>
          <input type="time" formControlName="time_in_time" atp-time-picker class="form-control"  tabindex="2"/>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
          <label class="col-form-label">Time Out Date</label>
          <my-date-picker 
            name="time_out" 
            [options]="datePickerOptions"
			formControlName="time_out_date"
			tabindex="3"
            >
          </my-date-picker>
        </div>
    
        <div class="form-group">
            <label class="col-form-label">Time Out Time</label>
            <input type="time" formControlName="time_out_time" atp-time-picker class="form-control"  tabindex="4"/>
          </div>
    </div>


    <div class="form-group col-sm-2">
        <label class="col-form-label">&nbsp;</label>
        <br/>
        <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!form.valid || formSubmitting">
			<span *ngIf="!formSubmitting">Create</span>
			<span *ngIf="formSubmitting">Creating...</span>
		</button>

		<button type="button" class="btn btn-warning" (click)="cancel()">
			Cancel
		</button>
        <br/>
        <small>
          <ul class="list-group">
            <li>Shift Period is autmatically detected</li>
            <li>Durations are autmatically computed</li>
          </ul>
        </small>
    </div>
  </div>
</form>
