<div style="margin: auto;margin-bottom: 50px;">
    <!-- <app-overlay [toggle]="toggleOverlay"></app-overlay> -->


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="false"
      [showReloading]="true"
      [autoReload]="false"

      >
      <data-table-column
        [property]="'created_at'"
        [header]="'Date'"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{ item.created_at | date: 'MMM dd, yyyy h:mm a' }}
        </ng-template>
        
      </data-table-column>

      <data-table-column
        [property]="'actor'"
        [header]="'Actor'"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span *ngIf="item.actorable">{{ item.actorable.first_name + ' ' + item.actorable.last_name }}</span>
        </ng-template>
        
      </data-table-column>
      
      <data-table-column
          [property]="'action'"
          [header]="'Action'"
          [resizable]="true">
      </data-table-column>

      <data-table-column
          [property]="'description'"
          [header]="'Description'"
          [resizable]="true">
      </data-table-column>
      
  </data-table>
</div>