
  <div *ngIf="action=='list'">
  
    {{ settings.plural }} 
  
    <div size="medium" class="pull-right">
      <a *ngIf="settings.crud.create.allow" class="cursor-pointer" [routerLink]="[settings.crud.create.url]"><i class="fa fa-plus"></i></a>
      <a class="cursor-pointer" (click)="doRefreshList()"><i class="fa fa-refresh"></i></a>
    </div>
  </div>
  
  <div *ngIf="action=='edit'">
    <div size="medium" class="btn-toolbar text-center well pull-right">

      <!-- USES rForm -->
      <a *ngIf="rForm" class="cursor-pointer btn btn-tn btn-primary btn-space-left " 
              (click)="!rForm.invalid && triggerSave('close')" 
              [class.disabled]="rForm.invalid"
              href="javscript:void(0)"
            >Save &amp; Close</a>

      <!-- DOES NOT use rForm -->
      <a *ngIf="!rForm" class="cursor-pointer btn btn-tn btn-primary btn-space-left " 
          (click)="triggerSave('close')"
          href="javscript:void(0)"
        >Save &amp; Close</a>
      
      <!-- <a class="cursor-pointer btn btn-tn btn-primary btn-space-left " (click)="triggerSave('continue')">Save &amp; Continue</a> -->
      <a class="btn btn-tn btn-danger btn-space-left " [routerLink]="[settings.crud.list.url]">Cancel</a>
    </div>
  </div>
  
  <div *ngIf="action=='create'">
      <div size="medium" class="btn-toolbar text-center well pull-right">
        <!-- USES rForm -->
        <a *ngIf="rForm" class="cursor-pointer btn btn-tn btn-primary btn-space-left " 
        [class.disabled]="rForm.invalid"
        (click)="!rForm.invalid && triggerSave('close')"
        href="javscript:void(0)"
          >Save &amp; Close</a>

        

        <!-- DOES NOT use rForm -->
        <a *ngIf="!rForm" class="cursor-pointer btn btn-tn btn-primary btn-space-left " 
          (click)="triggerSave('close')" 
          href="javscript:void(0)"
        >Save &amp; Close</a>

        <!-- <a class="cursor-pointer btn btn-tn btn-primary btn-space-left " (click)="triggerSave('continue')">Save &amp; Continue</a> -->
        <a class="btn btn-tn btn-danger btn-space-left " [routerLink]="[settings.crud.list.url]">Cancel</a>
      </div>
  </div>

