  <div class="row">
    <div class="col-sm-12">
        <h2 class="pull-left" *ngIf="Employee">{{ Employee.first_name }} {{ Employee.last_name }}</h2>
        <a 
            [routerLink]="'/app/settings/system/timelogs/'" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            *ngIf="userService.checkPermission(['timelog.browse'])"
            class="btn btn-primary pull-right"
          >
              Back to list
          </a>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-sm-12">
      <div class="accordion" id="accordionTimelogInput">
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-pencil"></i> Manual Entry
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTimelogInput">
              <div class="card-body">
                  <app-new-timelog [employee]="Employee"></app-new-timelog>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <app-list></app-list>
    </div>
  </div>
