
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group">
                <label for="name" class="col-form-label">Template Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-3">
            <div class="form-group">
                <label for="month_days" class="col-form-label">Days</label>
                <!-- <input
    type="checkbox" id="checkbox-1" value="value-1" [formControl]="control" />    -->
                
    <!-- *ngFor="let control of form.controls['month_days'].controls" -->
                <input type="text" class="form-control" id="month_days" formControlName="month_days" autocomplete="off">
                <small class="text-muted">Format: 1-15,16-last_day</small>
                <br/>
                <small class="text-muted">Accepted values: 1 to 31, last_day, day_before_last_day</small>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
                <button type="submit" class="btn btn-warning" (click)="cancel()">
                    <span *ngIf="!formSubmitting">Cancel</span>
                </button>
            </div>
        </div>
    </div>
  </form>
</div>