<app-overlay [toggle]="toggleOverlay"></app-overlay>

<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <!-- NAME -->
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
            <div class="form-group col-sm-12" 
                [class.has-danger]="form.get('employee_id_number').touched && form.get('employee_id_number').invalid"
                *ngIf="object && (!object.employee_id_number || object.employee_id_number=='')"
            >
                <label for="employee_id_number" class="col-form-label required">Employee Number <i class="small">(Leave blank to auto-generate)</i></label>
                <input type="text" class="form-control" id="employee_id_number" formControlName="employee_id_number" autocomplete="off">
      
                <div class="small text-warning" ngxErrors="employee_id_number" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                        <div [ngSwitch]="error.name">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group col-sm-12" 
                [class.has-danger]="form.get('employee_id_number').touched && form.get('employee_id_number').invalid"
                *ngIf="object && object.employee_id_number!=''"
            >
                <label for="employee_id_number" class="col-form-label required">Employee Number 
                    <i class="small">(Only <strong>admins</strong> can update employee ID's. See Admin tab)</i></label>
                <br/><strong>{{ object.employee_id_number }}</strong>
            </div>


          <div class="form-group col-sm-4">
              <label for="title_id" class="col-form-label required">Title</label>
              <select class="form-control" id="title_id" formControlName="title_id">
                <option *ngFor="let title of lists.titles" value="{{ title.id }}">{{ title.name }}</option>
              </select>
          </div>

          <div class="form-group col-sm-4 required" [class.has-danger]="form.get('first_name').touched && form.get('first_name').invalid">
              <label for="first_name" class="col-form-label required">First Name</label>
              <input type="text" class="form-control" id="first_name" formControlName="first_name" autocomplete="off">

              <div class="small text-warning" ngxErrors="first_name" #errorName="ngxErrors">
                  <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                      <div [ngSwitch]="error.name">
                      <div *ngSwitchCase="'minlength'">
                          {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                      </div>
                      <div *ngSwitchCase="'maxlength'">
                          {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                      </div>
                      <div *ngSwitchDefault>
                          {{ error.text }}
                      </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="form-group col-sm-4 required" [class.has-danger]="form.get('last_name').touched && form.get('last_name').invalid">
              <label for="last_name" class="col-form-label required">Last Name</label>
              <input type="text" class="form-control" id="last_name" formControlName="last_name" autocomplete="off">

              <div class="small text-warning" ngxErrors="last_name" #errorName="ngxErrors">
                  <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                      <div [ngSwitch]="error.name">
                      <div *ngSwitchCase="'minlength'">
                          {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                      </div>
                      <div *ngSwitchCase="'maxlength'">
                          {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                      </div>
                      <div *ngSwitchDefault>
                          {{ error.text }}
                      </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12" [class.has-danger]="form.get('email').touched && form.get('email').invalid">
                <label for="email" class="col-form-label required">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off">
    
                <div class="small text-warning" ngxErrors="email" #errorName="ngxErrors">
                    <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                        <div [ngSwitch]="error.name">
                        <div *ngSwitchCase="'minlength'">
                            {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchCase="'maxlength'">
                            {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ error.text }}
                        </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
      </div>

      <div class="col-sm-3">
        <div class="row">
            <div class="form-group col-sm-12">
              <label for="birthdate" class="col-form-label required">Birth Date</label>
              <div class="input-group">
                  <my-date-picker 
                      name="birthdate" 
                      [options]="datePickerOptions"
                      formControlName="birthdate"
                  >
                  </my-date-picker>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="civil_status_id" class="col-form-label required">Civil Status</label>
              <select class="form-control" id="civil_status_id" formControlName="civil_status_id">
                <option *ngFor="let civilStatus of lists.civilStatus" value="{{ civilStatus.id }}">{{ civilStatus.name }}</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="religion" class="col-form-label required">Religion</label>
              <input type="text" class="form-control" id="religion" formControlName="religion" />
            </div>

            <div class="form-group col-sm-6">
              <label for="gender" class="col-form-label required">Gender</label>
              <select class="form-control" id="gender" formControlName="gender">
                <option value="1">Male</option>
                <option value="0">Female</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="nationality" class="col-form-label required">Nationality</label>
              <input type="text" class="form-control" id="nationality" formControlName="nationality" />
            </div>

            <div class="form-group col-sm-6">
                <label for="landline" class="col-form-label required">Landline #</label>
                <input type="text" class="form-control" id="landline" formControlName="landline" />
            </div>

            <div class="form-group col-sm-6">
                <label for="mobile" class="col-form-label required">Mobile #</label>
                <input type="text" class="form-control" id="mobile" formControlName="mobile" />
            </div>
            
          </div>


      </div>

      <div class="col-sm-4">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="address_1" class="col-form-label required">Address 1</label>
                <input type="text" class="form-control" id="address_1" formControlName="address_1" />
            </div>

            <div class="form-group col-sm-12">
                <label for="address_2" class="col-form-label required">Address 2</label>
                <input type="text" class="form-control" id="address_2" formControlName="address_2" />
            </div>

            <div class="form-group col-sm-6">
                <label for="city" class="col-form-label required">City</label>
                <input type="text" class="form-control" id="city" formControlName="city" />
            </div>

            <div class="form-group col-sm-6">
                <label for="country" class="col-form-label required">Country</label>
                <input type="text" class="form-control" id="country" formControlName="country" />
            </div>

            <div class="form-group col-sm-6">
                <label for="province" class="col-form-label required">Province</label>
                <input type="text" class="form-control" id="province" formControlName="province" />
            </div>

            <div class="form-group col-sm-6">
                <label for="zipcode" class="col-form-label required">Zipcode</label>
                <input type="text" class="form-control" id="zipcode" formControlName="zipcode" />
            </div>

        </div>
      </div>

    </div>

    <div class="row">
        
    </div>


    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="form.invalid || formSubmitting">
                <span *ngIf="formMode=='create' && !formSubmitting">Save &amp; Exit</span>
                <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                <span *ngIf="formSubmitting">Saving...</span>
            </button>

            <button type="submit" class="btn btn-success" (click)="submitContinue()" *ngIf="formMode=='create'" [attr.disabled]="!form.valid || formSubmitting">
                <span *ngIf="!formSubmitting">Save &amp; continue editing</span>
                <span *ngIf="formSubmitting">Saving...</span>
            </button>

            <!-- &nbsp;<a *ngIf="formMode!='create'" class="btn btn-danger" [routerLink]="settings.crud.list.url">Cancel</a> -->
        </div>
  </div>
</form>