<div class="container">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>

  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="compensation_level_period" class="col-form-label">Period</label>
                        <div class="input-group">
                            <select name="compensation_level_period" class="form-control" formControlName="compensation_level_period">
                                <option value="DAILY">DAILY</option>
                                <option value="WEEKLY">WEEKLY</option>
                                <option value="SEMI_MONTHLY">SEMI-MONTHLY</option>
                                <option value="MONTHLY">MONTHLY</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_range_from" class="col-form-label">From <em>(Leave blank for minimum range)</em></label>
                        <div class="input-group">
                            <input type="number" name="salary_range_from" class="form-control" formControlName="salary_range_from" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_range_to" class="col-form-label">To <em>(Leave blank for maximum range)</em></label>
                        <div class="input-group">
                            <input type="number" name="salary_range_to" class="form-control" formControlName="salary_range_to" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="withholding_tax" class="col-form-label">Withholding Tax</label>
                        <div class="input-group">
                            <input type="number" name="withholding_tax" class="form-control" formControlName="withholding_tax" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="withholding_percentage" class="col-form-label">WT Percentage</label>
                        <div class="input-group">
                            <input type="number" name="withholding_percentage" class="form-control" formControlName="withholding_percentage" 
                                style="text-align:right"/>
                            <div class="input-group-append">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="text-right">
              <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="form.invalid || formSubmitting">
                  <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                  <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                  <span *ngIf="formSubmitting">Saving...</span>
              </button>
              <button class="btn btn-warning" (click)="cancel()">
                  Cancel
              </button>
          </div>
      </div>
    </div>
  </form>
  <br/>
</div>