
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-4">
            <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" autocomplete="off">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
            </div>
        </div>
    </div>
  </form>
</div>