<form [formGroup]="form" enctype="multipart/form-data" class="form" novalidate  autocomplete="off"> 

    <img src="./assets/images/blank.gif" 
      class="rounded img-fluid img-thumbnail" 
      style="width:80%;
            background-size: contain;
            background-repeat: no-repeat;
            " 
      [style.background-image]="'url(' + profilePictureUrl + ')'"
      />
  <div class="form-group">
    <button class="btn btn-primary"
          (click)="fileInput.click()"
        >Upload Picture</button>
    <input type="file" class="d-none hide" name="profile_picture" formControlName="profile_picture"
      (change)="onFileChanged($event)"
      #fileInput
      />
  </div>
</form>