<div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-header">{{ settings.plural }}</h2>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-lg-12">
        <app-form (triggerReloadList)="triggerReloadList($event)" [object]="_object" [suppData]="suppData" (objectChanged)="getObject($event)"></app-form>
        <hr />
      </div>
      <div class="col-lg-12">
        
        <app-filters (filtersChanged)="filtersChanged($event)" [suppData]="suppData"></app-filters>
        
        
        <div style="position: relative;">
          <app-list [(triggerListReload)]="_triggerReloadList" (object)="getObject($event)" [filters]="filters"></app-list>
        </div>
      </div>
    </div>
  </div>
  