<div class="containera overlay d-flex" [class.d-none]="!toggle">
    <div class="row justify-content-center align-self-center" style="margin: 0 auto;">
        
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>    
    </div>

</div>