
<div style="margin: auto;margin-bottom: 50px;">
  
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
    >
        <data-table-column
            [property]="'period'"
            [header]="'Period'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ formatDateFix(item.payroll_log.start.date) | date: 'MMM dd, y' }} - {{ formatDateFix(item.payroll_log.end.date) | date: 'MMM dd, y' }} 
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'status'"
            [header]="'Status'"
            [width]="100"
            [sortable]="true"
            [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <status-badge 
                    *ngIf="item.status"
                    status="{{ item.status }}"
                ></status-badge>
            </ng-template>
        </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
              <!-- {{ settings.crud.update.url + item.id }} -->
              <a (click)="getPayslip('view', item)"><i class="fa fa-eye cursor-pointer" placement="top" ngbTooltip="View: Disable any pop-up blockers"></i></a>
              &nbsp;
              <!-- <a (click)="getPayslip('download', item)"><i class="fa fa-download cursor-pointer" placement="top" ngbTooltip="Download"></i></a> -->
          </ng-template>
      </data-table-column>
  </data-table>
</div>