<div class="container">
    <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
        <div class="row">
            <div class="form-group col-sm-12 required"> 
                <label for="notes" class="col-form-label">Note</label>
                <div class="small text-danger" ngxErrors="notes" #errorName="ngxErrors" *ngIf="form.dirty">
                    <div ngxError="required">Please add notes</div>
                </div>
                <textarea name="notes" formControlName="notes" rows="5" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-12" *ngIf="!confirmation">
                <button class="btn btn-success" (click)="submit()" [disabled]="form.invalid">
                    Save
                </button>

                <button class="btn btn-warning" (click)="cancelModal()">
                    Cancel
                </button>
            </div>
            <div class="form-group col-sm-12" *ngIf="confirmation">
                <div class="small">
                    Are your sure you want to continue?
                </div>
                <button class="btn btn-success" (click)="confirmed()">
                    Yes
                </button>
                &nbsp;
                <button class="btn btn-warning" (click)="cancelled()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>