<div style="margin: auto;margin-bottom: 50px;">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="false"
      [showReloading]="true"

      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      <data-table-column
          [property]="'name'"
          [header]="'Name'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                <strong>{{ item.employee.employee_id_number }}</strong><br/>{{ item.employee.first_name }} {{ item.employee.last_name }}
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'total_amount'"
          [header]="'Amount'"
          [width]="100"
          [resizable]="false">
            <ng-template #dataTableCell let-item="item">
                <div class="text-right">
                    {{ item.total_amount }}
                </div>
            </ng-template>    
      </data-table-column>

      <data-table-column
        [property]="'balance'"
        [header]="'Balance'"
        [width]="100"
        [resizable]="false">
            <ng-template #dataTableCell let-item="item">
                <div class="text-right">
                    {{ item.balance }}
                </div>
            </ng-template>    
    </data-table-column>

      <data-table-column
        [property]="'created_at'"
        [header]="'Date Filed'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ formatDateFix(item.created_at) | date: 'MMM dd, yyyy' }}
            </ng-template>
        </data-table-column>

        <data-table-column
            [property]="'duration_start'"
            [header]="'Start Date'"
            [resizable]="true">
                <ng-template #dataTableCell let-item="item">
                    {{ formatDateFix(item.duration_start.date) | date: 'MMM dd, yyyy' }}
                </ng-template>
        </data-table-column>

      <data-table-column
          [property]="'status'"
          [header]="'Status'"
          [resizable]="true">    
            <ng-template #dataTableCell let-item="item">
                <status-badge 
                    *ngIf="item.status"
                    status="{{ item.status }}"
                ></status-badge>
                <br/>
                <span class="small" *ngIf="item.status=='APPROVED' && item.approved_on">
                    {{ formatDateFix(item.approved_on) | date: 'MMM dd, yyyy hh:mm a' }}
                </span>
            </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <!-- <a (click)="edit(item)" *ngIf="userService.checkPermission(['civil-status.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a> -->
                <span *ngIf="item.status=='PENDING'">
                    <a  [routerLink]="settings.crud.update.url + '/' + item.id"  *ngIf="userService.checkPermission(['cash-advance.edit'])">
                        <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                    </a>
                    &nbsp;
                </span>

                <span *ngIf="(item.status!='PENDING')">
                    <a  [routerLink]="settings.crud.update.url + '/' + item.id"  *ngIf="userService.checkPermission(['cash-advance.read'])">
                        <i class="fa fa-eye cursor-pointer" placement="top" ngbTooltip="View"></i>
                    </a>
                    &nbsp;
                </span>
                
                <!-- <a (click)="delete(item)" *ngIf="userService.checkPermission(['cash-advance.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a> -->
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>