
.data-table.table td {
    overflow: visible !important;
}

.row-expand-button {
    outline: none;
}

/* [_nghost-c8] .data-table > thead > tr > th, [_nghost-c8] .data-table > tbody > tr > td */

button {
    margin-bottom: 3px;
}