<app-filters (filtersChanged)="filtersChanged($event)"></app-filters>


<div style="margin: auto;margin-bottom: 50px;">

    <app-overlay [toggle]="toggleOverlay"></app-overlay>

    <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      (headerClick)="headerClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
      [expandableRows]="true"
      [multiSelect]="true"
      [selectOnRowClick]="true"
      
      [selectColumn]="true"
    >
    <ng-template #dataTableExpand let-item="item">
        <app-update-form 
            [object]="item" 
            [employee]="employee" 
            [shiftTemplatePeriodList]="shiftTemplatePeriodList" 
            (objectUpdated)="updateObject($event)"
            (triggerReloadList)="triggerReloadList($event)"
        ></app-update-form>
    </ng-template>
    <data-table-column
        [property]="'time_in'"
        [header]="'Log'"
        [sortable]="true"
        [resizable]="true">
          <ng-template #dataTableCell let-item="item">
              <span>
                <span *ngIf="employee && employee.shift_template">
                    <span>
                        {{ employee.shift_template.name }}
                    </span>
                    <br/>
                    <span *ngIf="!item.is_rest_day && item.shift_template_period">
                        <span *ngIf="item.shift_template_period">
                            {{ item.shift_template_period.shift_template.name }}
                        </span> - 
                        [<span *ngIf="item.shift_template_period">
                            {{ item.shift_template_period.name }}
                        </span>]
                    </span>
                    

                    <span *ngIf="!item.shift_template_period">
                        <strong><i class="text-warning">Period not detected</i></strong>
                    </span>
                </span>

                <!-- <span *ngIf="!item.shift_template_period || !item.shift_template_period.shift_template"> -->
                <span *ngIf="!item.shift_template_period_id">
                    <span class="text-danger"><strong>Shift Template not assigned</strong></span>

                </span>

                <span *ngIf="item.shift_template_period && item.shift_template_period.shift_template">
                    <strong>
                        <span class="text-success">{{ item.shift_template_period.shift_template.name }}</span>
                        <span *ngIf="item.shift_template_period">
                            - <span class="text-success">{{ item.shift_template_period.name }}</span>
                        </span>
                    </strong>
                </span>

                <span *ngIf="item.is_rest_day" class="text-warning">
                    <strong>Rest Day</strong>
                </span>

                <br/>
              <span *ngIf="item.time_in">
                  <strong>In:</strong> {{ formatDateFix(item.time_in.date) | date: 'E. MMM dd, yyyy h:mm a'}}
              </span>
              </span>
            <br/>
            <span>
                  <strong>Out:</strong>
                  <span *ngIf="item.time_out">
                      {{ formatDateFix(item.time_out.date) | date: 'E. MMM dd, yyyy h:mm a'}}
                  </span>
                  <span *ngIf="!item.time_out">
                      <i>N/A</i>
                  </span>
            </span>
          </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'durations'"
        [header]="'Durations'"
        [sortable]="false"
        [resizable]="true">
          <ng-template #dataTableCell let-item="item">
              <span *ngIf="item.time_out">
                  <span><strong>Elapsed Time:</strong> {{ item.time_elapsed }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.time_elapsed>0" ngbTooltip="{{ minutesToHoursMinutes(item.time_elapsed) }}"></i></span>
                  <br/>
                  <span><strong>Tardy:</strong> {{ item.tardy_minutes }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.tardy_minutes>0" ngbTooltip="{{ minutesToHoursMinutes(item.tardy_minutes) }}"></i></span>
                  <br/>
                  <span><strong>Overtime:</strong> 
                    <span *ngIf="item.ot_application_id">
                        {{ item.overtime_minutes }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.overtime_minutes>0" ngbTooltip="{{ item.leave_application.purpose }}&#013;{{ minutesToHoursMinutes(item.overtime_minutes) }}"></i></span>
                    
                    <span *ngIf="!item.ot_application_id">N/A</span>
                   </span>
                  <br/>
                  <span><strong>Billable:</strong> {{ item.billable_minutes }}m <i class="fa fa-info-circle" placement="top" *ngIf="item.billable_minutes>0" ngbTooltip="{{ minutesToHoursMinutes(item.billable_minutes) }}"></i></span>
              </span>
              <span *ngIf="!item.time_out">
                  <i>N/A</i>
              </span>
          </ng-template>
    </data-table-column>


    <data-table-column
        [property]="'status'"
        [header]="'Status'"
        [sortable]="true"
        [resizable]="true">
          <ng-template #dataTableCell let-item="item">
              <status-badge 
                  *ngIf="item"
                  status="{{ item.status }}"
              ></status-badge>
          
              <status-badge 
                    *ngIf="!item.shift_template_period"
                    status="invalid"
                    customLabel="SP not detected"
                ></status-badge>
          </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'is_approved'"
        [header]="'Approved On'"
        [sortable]="true"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <!-- <status-badge 
                *ngIf="item && item.is_approved"
                status="Approved"
            ></status-badge> -->
            <span *ngIf="item.is_approved !== false">
                {{ formatDateFix(item.is_approved.date) | date: 'MMM dd, yyyy h:mm a' }}
            </span>
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'is_auto_approve'"
        [header]="'Auto Approved?'"
        [sortable]="true"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <!-- <status-badge 
                *ngIf="item && item.is_approved"
                status="Approved"
            ></status-badge> -->
            <status-badge 
                  *ngIf="item"
                  status="{{ item.is_auto_approve ? 'yes' : 'no' }}"
              ></status-badge>
        </ng-template>
    </data-table-column>
      
    <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['timelog.edit'])">
                    <button type="button" class="btn btn-success"
                        *ngIf="item.status=='PENDING' && item.shift_template_period_id"
                        (click)="setStatus('approved', item.id)"
                    >Approve</button>

                    <!-- <button type="button" class="btn btn-primary"
                        *ngIf="item.status=='PENDING' && item.shift_template_period_id"
                        (click)="recalculate(item.id)"
                    >Update</button> -->
                </a>
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
  <span *ngIf="(dataTable && dataTable.selectedRow) == null"><i>No item selected</i></span>
   
</div>