<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary pull-right" (click)="add()">Add</button>
    </div>
</div>
<div style="margin: auto;margin-bottom: 50px;">
  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
      [pagination]="false"

      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      <data-table-column
          [property]="'compensation_from'"
          [header]="'Compensation Range'"
          [sortable]="true"
          [resizable]="true"
        >
            <ng-template #dataTableCell let-item="item">
                <div style="white-space: nowrap">
                    <span *ngIf="!item.compensation_from"><strong>Under</strong></span> 
                    <span *ngIf="item.compensation_from">{{ currency.format(item.compensation_from) }}</span>
                    - 
                    <span *ngIf="!item.compensation_to"><strong>Over</strong></span> 
                    <span *ngIf="item.compensation_to">{{ currency.format(item.compensation_to) }}</span>
                </div>
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'monthly_salary_credit'"
          [header]="'Monthly Salary Credit'"
          [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.monthly_salary_credit) }}
            </ng-template>
      </data-table-column>

    <data-table-column
        [property]="'social_security_er'"
        [header]="'Social Security ER'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.social_security_er) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'social_security_ee'"
        [header]="'Social Security EE'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.social_security_ee) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'social_security_total'"
        [header]="'Social Security Total'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.social_security_total) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'ec_er'"
        [header]="'EC ER'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.ec_er) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'total_contribution_er'"
        [header]="'Total Contribution ER'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.total_contribution_er) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'total_contribution_ee'"
        [header]="'Total Contribution EE'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.total_contribution_ee) }}
            </ng-template>
    </data-table-column>       

    <data-table-column
        [property]="'total_contribution_er_ee'"
        [header]="'Total Contribution ER EE'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.total_contribution_er_ee) }}
            </ng-template>
    </data-table-column>   
    
    <data-table-column
        [property]="'total_contribution_se_vm_ofw'"
        [header]="'Total Contribution OFW'"
        [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ currency.format(item.total_contribution_se_vm_ofw) }}
            </ng-template>
    </data-table-column>   


      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a (click)="edit(item)" *ngIf="userService.checkPermission(['benefit.edit'])">
                    <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                </a>
                &nbsp;
                <a (click)="delete(item)" *ngIf="userService.checkPermission(['benefit.delete'])">
                    <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                </a>
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>