
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                            <label for="name" class="col-form-label">Time In</label>
                            <div class="input-group">
                                <my-date-picker 
                                    name="time_in_date" 
                                    [options]="datePickerOptions"
                                    formControlName="time_in_date"
                                >
                                </my-date-picker>
                            </div>
                        </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">&nbsp;</label>
                        <input type="time" formControlName="time_in_time" atp-time-picker class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                            <label for="name" class="col-form-label">Time Out</label>
                            <div class="input-group">
                                <my-date-picker 
                                    name="time_out_date" 
                                    [options]="datePickerOptions"
                                    formControlName="time_out_date"
                                >
                                </my-date-picker>
                            </div>
                        </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-form-label">&nbsp;</label>
                        <input type="time" formControlName="time_out_time" atp-time-picker class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group col-sm-6">
                <label for="shift_template_id" class="col-form-label required">Shift Template</label>
                <select class="form-control" id="shift_template_id" formControlName="shift_template_id">
                    <option *ngFor="let shifTemplate of lists['shift-templates']" value="{{ shifTemplate.id }}">{{ shifTemplate.name }}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="" class=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
                <button class="btn btn-warning" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
  </form>
</div>