<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    
    <a class="navbar-brand" href="#">
      {{ environment.admin.TITLE }} v{{ environment.version }}
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">


      <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/login']">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Sign Up</a>
        </li> -->
      </ul>

      <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/admin']">Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/login']">Loout</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Sign Up</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <div class="container">

    <div class="starter-template">
        <router-outlet></router-outlet>
    </div>

  </div><!-- /.container -->