<div *ngIf="object">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>

  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

      <!-- NAME -->
          <div class="form-group">
              <input type="text" class="form-control" id="bio_id" formControlName="bio_id" autocomplete="off">
    
              <div class="small text-warning" ngxErrors="bio_id" #errorName="ngxErrors">
                  <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
                      <div [ngSwitch]="error.name">
                      <div *ngSwitchCase="'minlength'">
                          {{ error.text }} {{ errorName.getError('minlength')?.requiredLength }}
                      </div>
                      <div *ngSwitchCase="'maxlength'">
                          {{ error.text }} {{ errorName.getError('maxlength')?.requiredLength }}
                      </div>
                      <div *ngSwitchDefault>
                          {{ error.text }}
                      </div>
                      </div>
                  </div>
              </div>
          </div>

      <div class="row">
          <div class="col-sm-12">
              <button type="submit" 
                class="btn btn-success" (click)="submit()" 
                [attr.disabled]="!form.valid || formSubmitting"
                >
                  <span *ngIf="!formSubmitting">Save</span>
                  <span *ngIf="formSubmitting">Saving...</span>
              </button>
          </div>
    </div>
  </form>
</div>