<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="page-header">{{ settings.plural }}</h2>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
