<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/users'" routerLinkActive="active">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/roles'" routerLinkActive="active">Roles</a>
  </li>

  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Export</a>
  </li> -->
</ul>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link cursor-pointer" (click)="logout()" >Logout</a>
    </li>
</ul>
