<div style="margin: auto;margin-bottom: 50px;">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="true"
      [showReloading]="true"
      [rowColors] = "callBackForChangineRowColors" 

      >
      <!-- <data-table-column
          [property]="'id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column> -->
      
      <data-table-column
          [property]="'name'"
          [header]="'Payroll Template'"
          [sortable]="true"
          [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            {{ item.payroll_log.payroll_template.name }} 
            <br/>
            {{ formatDateFix(item.payroll_log.start.date) | date: 'MMM dd, y' }} - {{ formatDateFix(item.payroll_log.end.date) | date: 'MMM dd, y' }} 
            </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'employee'"
          [header]="'Employee'"
          [sortable]="true"
          [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            {{ item.name }} 
            </ng-template>
      </data-table-column>

      <data-table-column
          [property]="'status'"
          [header]="'Status'"
          [sortable]="true"
          [resizable]="true">
          <ng-template #dataTableCell let-item="item">
              <status-badge [status]="item.status"></status-badge>
              <div class="progress" *ngIf="item.status == 'PROCESSING'">
                <div class="progress-bar" role="progressbar" [style.width]="(item.progress * 100) + '%'"  aria-valuemin="0" aria-valuemax="100">{{ item.progress * 100 }}% </div>
              </div>
              <!-- <div *ngIf="item.status != 'PENDING'">
                  Triggered: {{ item.triggered | date: 'MMM dd, yyyy h:mm a' }}
              </div> -->
          </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <div *ngIf="item.system">
                <i class="small">Actions not available</i>
            </div>
            <div *ngIf="!item.system">
                <a [routerLink]="settings.crud.list.url  + 'payslip/' + item.id" class="btn btn-warning"
                >
                    Edit
                </a>
                <button type="button" class="btn btn-primary"
                    (click)="recalculate(item)"
                    [disabled]="isRecalculating"
                >
                    <span *ngIf="!isRecalculating">Recalculate</span>
                    <span *ngIf="isRecalculating">Recalculating...</span>
                </button>
            </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>