<div
    class="fixed-top"
    style="z-index: 9999999999;"
    [hidden]="!pageLoading"
>
    <div class="row">
        <div class="mx-auto text-center col-sm-1 "
            style="width:100px; border:1px solid;
                background-color: #ffc107;border-bottom-left-radius:10px !important;border-bottom-right-radius:10px; border-color:rgb(240, 173, 78); font-size:10px"
        >Loading...</div>
    </div>
</div>

<router-outlet></router-outlet>