<div class="row mt-5 row-eq-height">

    <div class="col-sm-4 d-fle">
        <div class="card" *ngIf="userService.checkPermission(['employee.password-reset'])">
            <div class="card-body">
                <h5 class="card-title">Reset Password</h5>
                <app-manage-password [object]="object"></app-manage-password>
            </div>
        </div>
    </div>

    <div class="col-sm-4 d-fle">
        <div class="card" *ngIf="userService.checkPermission(['employee.delete'])">
            <div class="card-body">
                <h5 class="card-title">Delete Employee Record</h5>
                <app-delete-employee [object]="object"></app-delete-employee>
            </div>
        </div>
    </div>

    <div class="col-sm-4 d-fle">
        <div class="card" *ngIf="userService.checkPermission(['employee.id-update'])">
            <div class="card-body">
                <h5 class="card-title">Update Employee ID</h5>
                <app-employee-id [object]="object"></app-employee-id>
            </div>
        </div>
    </div>

    <div class="col-sm-4 d-fle">
        <div class="card" *ngIf="userService.checkPermission(['employee.id-update'])">
            <div class="card-body">
                <h5 class="card-title">Assign Deductions</h5>
                <app-assign-deductions [lists]="lists" [object]="object"></app-assign-deductions>
            </div>
        </div>
    </div>

    <div class="col-sm-4 d-fle">
            <div class="card" *ngIf="userService.checkPermission(['employee.id-update'])">
                <div class="card-body">
                    <h5 class="card-title">Assign Benefits</h5>
                    <app-assign-benefits [lists]="lists" [object]="object"></app-assign-benefits>
                </div>
            </div>
        </div>

    <div class="col-sm-4 d-fle">
        <div class="card" *ngIf="userService.checkPermission(['employee.id-update'])">
            <div class="card-body">
                <h5 class="card-title">Biofield ID</h5>
                <app-biofield [object]="object"></app-biofield>
            </div>
        </div>
    </div>
</div>