<div class="overlay-container">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>
    <div class="form-check" *ngFor="let permission of listPermissions">
        

        <label class="col-form-label">
            <input 
                class="form-check-input checkbox-permission" 
                type="checkbox" 
                value="{{ permission.name }}" 
                (click)="clickedCheckbox($event)"
                [checked]="isAttached(permission.name)"
            >
            {{ permission.label | uppercase }}
        
        </label>
            
            
    </div>
</div>