
<div class="containe">
  <app-overlay [toggle]="!employeesLoaded"></app-overlay> 




  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-6">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="employee_id" class="col-form-label required">Employee <span *ngIf="typeaheadLoading" class="text-warning">Loading...</span></label>
                        <input formControlName="employee_full_name"
                            [typeaheadAsync]="true"
                            [typeahead]="dataSource"
                            (typeaheadLoading)="changeTypeaheadLoading($event)"
                            (typeaheadOnSelect)="typeaheadOnSelect($event)"
                            [typeaheadOptionsLimit]="20"
                            typeaheadOptionField="full_name"
                            typeaheadWaitMs="500"
                            placeholder="Type a name or ID"
                            class="form-control"/>
                        <!-- <select class="form-control" id="employee_id" formControlName="employee_id">
                            <option *ngFor="let employee of suppData['employees']" value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                        </select> -->
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-form-label">Starts at</label>
                        <div class="input-group">
                            <my-date-picker 
                                name="time_in_date" 
                                [options]="datePickerOptions"
                                formControlName="time_in_date"
                            >
                            </my-date-picker>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="time" formControlName="time_in_time" atp-time-picker class="form-control"/>
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    <div class="form-group">
                        <label for="leave_type_id" class="col-form-label required">Application Type</label>
                        <select class="form-control" id="leave_type_id" formControlName="leave_type_id" (change)="selectedType($event)">
                            <option *ngFor="let leaveType of suppData['leave-types']" value="{{ leaveType.id }}">{{ leaveType.name }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-form-label">Ends at</label>
                        <div class="input-group">
                            <my-date-picker 
                                name="time_out_date" 
                                [options]="datePickerOptions"
                                formControlName="time_out_date"
                            >
                            </my-date-picker>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="time" formControlName="time_out_time" atp-time-picker class="form-control"/>
                    </div>
                </div>


                <div class="form-group col-sm-3" *ngIf="isCashAdvance">
                    <div class="form-group">
                        <label for="leave_type_id" class="col-form-label required">Amount</label>
                        <div class="input-group">
                            <input class="form-control" id="leave_type_id" formControlName="cash_advance_amount" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-form-label">Duration (in months)</label>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="cash_advance_duration" />
                        </div>
                    </div>

                </div>


                <div class="form-group col-sm-3">
                    <label for="purpose" class="col-form-label required">Notes</label>
                    <textarea class="form-control" id="purpose" formControlName="purpose" rows="10"></textarea>
                </div>
            </div>
            
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="" class=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
                <button class="btn btn-warning" (click)="cancel()">
                    Cancel
                </button>
            </div>
            <div class="form-group" *ngIf="objectId">
                <label class="col-form-label required">Actions</label>
                <br/>
                <button class="btn btn-success" *ngIf="object.status=='PENDING' || object.status=='DISAPPROVED'" (click)="approve()" [disabled]="disableApprove()" >
                    Approve
                </button>

                <button class="btn btn-danger" *ngIf="object.status=='PENDING' || object.status=='APPROVED'" (click)="approve(true)" [disabled]="disableDisapprove()" >
                    Disapprove
                </button>
            </div>
        </div>
    </div>
  </form>
</div>