<div class="container-fluid">

  <div class="row">
    <div class="col-sm-9">
      <h2 class="page-header">{{ settings.plural }}</h2>
    </div>
    <div class="col-sm-3 text-right">
      <a [routerLink]="settings.crud.list.url" class="btn btn-primary">List</a>
      &nbsp;<a [routerLink]="settings.crud.create.url" class="btn btn-primary">Add</a>
      &nbsp;<a [routerLink]="settings.crud.generate.url" class="btn btn-primary">Generate Report</a>
    </div>
  </div>

    <hr/>

    <router-outlet></router-outlet>

    <!-- <app-filters (selectedPayrollTemplateId)="setSelectedPayrollTemplateId($event)"></app-filters> -->
  
    <!-- <div class="row" *ngIf="payrollTemplateId">
      <div class="col-lg-12">
        <app-form (triggerReloadList)="triggerReloadList($event)" [object]="object" [payrollTemplateId]="payrollTemplateId"></app-form>
      </div>
      <div class="col-lg-12">
        <div style="position: relative;">
            <app-list 
              [(triggerListReload)]="_triggerReloadList" 
              [payrollTemplateId]="payrollTemplateId"
              (object)="setObject($event)"
              ></app-list>
        </div>
      </div>
    </div> -->

    <!-- <div class="row" *ngIf="!payrollTemplateId">
      <h3 class="text-center">Please select a template</h3>
    </div> -->
  </div>
  