<div class="container">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>

  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 
    <div class="row">
        <div class=" col-sm-12">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_bracket" class="col-form-label">Bracket</label>
                        <div class="input-group">
                            <input type="number" name="salary_bracket" class="form-control" formControlName="salary_bracket" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_range_from" class="col-form-label">From <em>(Leave blank for minimum range)</em></label>
                        <div class="input-group">
                            <input type="number" name="salary_range_from" class="form-control" formControlName="salary_range_from" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_range_to" class="col-form-label">To <em>(Leave blank for maximum range)</em></label>
                        <div class="input-group">
                            <input type="number" name="salary_range_to" class="form-control" formControlName="salary_range_to" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_base" class="col-form-label">Base Salary</label>
                        <div class="input-group">
                            <input type="number" name="salary_base" class="form-control" formControlName="salary_base" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="monthly_premium" class="col-form-label">Monthly Premium</label>
                        <div class="input-group">
                            <input type="number" name="monthly_premium" class="form-control" formControlName="monthly_premium" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="employee_share" class="col-form-label">Employee's Share</label>
                        <div class="input-group">
                            <input type="number" name="employee_share" class="form-control" formControlName="employee_share" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="employer_share" class="col-form-label">Employer's Share</label>
                        <div class="input-group">
                            <input type="number" name="employer_share" class="form-control" formControlName="employer_share" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="text-right">
              <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                  <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                  <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                  <span *ngIf="formSubmitting">Saving...</span>
              </button>
              <button class="btn btn-warning" (click)="cancel()">
                  Cancel
              </button>
          </div>
      </div>
    </div>
  </form>
  <br/>
</div>