<div class="container-fluid">

    <div class="row">
        <div class="col-sm-8">
        <h2 class="page-header">{{ settings.plural }}</h2>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-lg-12">
            <app-form (triggerReloadList)="toggleReloadCalendar()" [object]="selectedObject"></app-form>
            <app-filter 
                [currentYear]="selectedYear" 
                (changedYear)="changedYear($event)"
            ></app-filter>

            <app-list 
                [selectedYear]="selectedYear"
                (objectChanged)="_objectChanged($event)" 
                [triggerListReload]="toggleReloadCalendarChange"
            >
            </app-list>
            <!-- <app-calendar-list [triggerListReload]="toggleReloadCalendarChange"></app-calendar-list> -->
        </div>
    </div>
</div>
