<div class="container-fluid">

  <div class="row">
    <div class="col-sm-10">
      <h2 class="page-header">{{ settings.plural }}</h2>
    </div>
    <div class="col-sm-2 text-right">
      <a [routerLink]="settings.crud.list.url" class="btn btn-primary">List</a>
      &nbsp;<a [routerLink]="settings.crud.create.url" class="btn btn-primary">Add</a>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-lg-12">
      <div style="position: relative;">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
  