<div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <h2 class="page-header">{{ settings.plural }}</h2>
      </div>
    </div>

    <hr/>

    <app-filters (selectedPayrollTemplateId)="setSelectedPayrollTemplateId($event)"></app-filters>
  
    <hr/>
    <div class="row" *ngIf="payrollTemplateId">
      <div class="col-lg-12">
        <app-form 
          (triggerReloadList)="triggerReloadList($event)" 
          [object]="object" 
          [payrollTemplateId]="payrollTemplateId"
          (objectChanged)="setObject($event)"
        ></app-form>
      </div>
      <div class="col-lg-12">
        <div style="position: relative;">
            <app-list 
              [(triggerListReload)]="_triggerReloadList" 
              [payrollTemplateId]="payrollTemplateId"
              (object)="setObject($event)"
              ></app-list>
              <!-- (object)="getObject($event)"  -->
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!payrollTemplateId">
      <div class="col-sm-12">
        <h3 class="text-center">Please select a template</h3>
      </div>
    </div>
  </div>
  