<form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

  <div class="row">

    <div class="col-sm-3 form-group">
      <label for="name" class="col-form-label">Search <strong>Employee ID</strong>, <strong>Employee name</strong></label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="col-sm-1 form-group">
      <label for="name" class="col-form-label">Status</label>
      <!-- <select class="form-control" formControlName="status" -->
      <select class="form-control" formControlName="with-status"
        (change)="startFilter()">
        <option value="all" selected>All</option>
        <option valjue="with-pending">With Pending</option>
        <option valjue="with-invalid">With Invalid</option>
        <option valjue="with-both">With Both</option>
        <!-- <option value="pending">Pending</option>
        <option value="invalid">Invalid</option>
        <option value="close">Close</option>
        <option value="valid">Validated</option> -->
      </select>
    </div>
    
    <div class="col-sm-2 form-group">
      <label for="start" class="col-form-label required">Start</label>
      <div class="input-group">
          <my-date-picker 
              name="date_start" 
              [options]="datePickerOptions1"
              formControlName="date_start"
              (dateChanged)="dateChanged('date_start', $event)"
          >
          </my-date-picker>
      </div>
    </div>
    <!--
    <div class="col-sm-2 form-group">
      <label for="start" class="col-form-label required">End</label>
      <div class="input-group">
          <my-date-picker 
              name="date_end" 
              [options]="datePickerOptions1"
              [disabled]="disabled" 
              formControlName="date_end"
              (dateChanged)="dateChanged('date_end', $event)"
          >
          </my-date-picker>
      </div>
    </div>
    -->

    <div class="col-sm-1">
      <label for="name" class="col-form-label">&nbsp;</label>
      <button class="btn btn-success form-control" (click)="reset()">Reset</button>
    </div>

  </div>

</form>