<div style="margin: auto;margin-bottom: 50px;">
    <app-overlay [toggle]="toggleOverlay"></app-overlay>


  <data-table id="persons-grid"
      [indexColumn]="false"

      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"

      (rowClick)="rowClick($event)"
      (rowDoubleClick)="rowDoubleClick($event)"
      [rowTooltip]="rowTooltip"
      [autoReload]="false"
      [showReloading]="true"

      >
      <data-table-column
          [property]="'id'"
          [header]="'Date'"
          [sortable]="true"
          [resizable]="true">
          <ng-template #dataTableCell let-item="item">
            {{ formatDateFix(item.start_date.date) | date: 'MMM d, y' }}
        </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'name'"
          [header]="'Name'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ item.name | uppercase }}
            </ng-template>
      </data-table-column>
      
      <data-table-column
          [property]="'description'"
          [header]="'Description'"
          [sortable]="true"
          [resizable]="true">
      </data-table-column>

      <data-table-column
          [property]="'type'"
          [header]="'Type`'"
          [sortable]="true"
          [resizable]="true">
            <ng-template #dataTableCell let-item="item">
                {{ item.holiday_type.name }}
            </ng-template>
      </data-table-column>
      

      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <ng-template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Action</span>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
                <div *ngIf="!item.system">
                    <a (click)="edit(item)" *ngIf="userService.checkPermission(['holiday-type.edit'])">
                        <i class="fa fa-edit cursor-pointer" placement="top" ngbTooltip="Edit"></i>
                    </a>
                    &nbsp;
                    <a (click)="delete(item)" *ngIf="userService.checkPermission(['holiday-type.delete'])">
                        <i class="fa fa-trash cursor-pointer" placement="top" ngbTooltip="Delete"></i>
                    </a>
                </div>
          </ng-template>
      </data-table-column>
  </data-table>
</div>