
<div class="containe">
  <app-overlay [toggle]="toggleOverlay"></app-overlay>
  <form [formGroup]="form" class="form" novalidate  autocomplete="off"> 

    <div class="row">
        <div class=" col-sm-2">
            <div class="form-group required">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
            </div>
        </div>

        <div class=" col-sm-3">
            <div class="form-group required">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-sm-2">
            <h4>Earnings</h4>
            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="benefit_basic_pay" name="benefit_basic_pay" formControlName="benefit_basic_pay" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('benefit_basic_pay')" >
                <label for="name" class="form-check-label col-form-label">Basic Pay</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="benefit_overtime_pay" name="benefit_overtime_pay" formControlName="benefit_overtime_pay" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('benefit_overtime_pay')">
                <label for="name" class="form-check-label col-form-label">Overtime Pay</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="benefit_restday_pay" name="benefit_restday_pay" formControlName="benefit_restday_pay" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('benefit_restday_pay')">
                <label for="name" class="form-check-label col-form-label">Rest Day Pay</label>
            </div>
            
            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="benefit_holiday_pay" name="benefit_holiday_pay" formControlName="benefit_holiday_pay" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('benefit_holiday_pay')">
                <label for="name" class="form-check-label col-form-label">Holiday Pay</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="benefit_night_differential_pay" name="benefit_night_differential_pay" formControlName="benefit_night_differential_pay" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('benefit_night_differential_pay')">
                <label for="name" class="form-check-label col-form-label">Night Differential Pay</label>
            </div>
        </div>

    
        <div class=" col-sm-2">
            <h4>Deductions</h4>
            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_philhealth" name="deduction_philhealth" formControlName="deduction_philhealth" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_philhealth')" >
                <label for="name" class="form-check-label col-form-label">Philhealth</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_sss" name="deduction_sss" formControlName="deduction_sss" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_sss')">
                <label for="name" class="form-check-label col-form-label">SSS</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_tardiness" name="deduction_tardiness" formControlName="deduction_tardiness" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_tardiness')">
                <label for="name" class="form-check-label col-form-label">Tardiness</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_bir" name="deduction_bir" formControlName="deduction_bir" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_bir')">
                <label for="name" class="form-check-label col-form-label">Income Tax</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_absences" name="deduction_absences" formControlName="deduction_absences" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_absences')">
                <label for="name" class="form-check-label col-form-label">Absences</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_pag_ibig" name="deduction_pag_ibig" formControlName="deduction_pag_ibig" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_pag_ibig')">
                <label for="name" class="form-check-label col-form-label">Pag-Ibig</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-control form-check-input" id="deduction_cash_advance" name="deduction_cash_advance" formControlName="deduction_cash_advance" value="1" (click)="clickedCheckbox($event)" [checked]="setCheckboxState('deduction_cash_advance')">
                <label for="name" class="form-check-label col-form-label">Cash Advance</label>
            </div>
        </div>

        <div class="col-sm-2">
            <h4>Leave Allocation</h4>
            <div class="form-group">
                <label class="col-form-label">Total Sick Leave Allocation</label>
                <input type="number" name="total_sick_leave" class="form-control" formControlName="total_sick_leave"/>
            </div>

            <div class="form-group">
                <label class="col-form-label">Total Emergency Leave Allocation</label>
                <input type="number" name="total_emergency_leave" class="form-control" formControlName="total_emergency_leave"/>
            </div>
            
            <div class="form-group">
                <label class="col-form-label">Total Maternity Leave Allocation</label>
                <input type="number" name="total_maternity_leave" class="form-control" formControlName="total_maternity_leave"/>
            </div>

            <div class="form-group">
                <label class="col-form-label">Total Maternity Leave Allocation</label>
                <input type="number" name="total_paternity_leave" class="form-control" formControlName="total_paternity_leave"/>
            </div>

            <div class="form-group">
                <label class="col-form-label">Total Vacation Leave Allocation</label>
                <input type="number" name="total_vacation_leave" class="form-control" formControlName="total_vacation_leave"/>
            </div>

            <div class="form-group">
                <label class="col-form-label">Total Birthday Leave Allocation</label>
                <input type="number" name="total_birthday_leave" class="form-control" formControlName="total_birthday_leave"/>
            </div>

            <div class="form-group">
                <label class="col-form-label">Total Birthday Leave Allocation</label>
                <input type="number" name="total_solo_parent_leave" class="form-control" formControlName="total_solo_parent_leave"/>
            </div>
        </div>

        <div class="col-sm-2">
            <h4>Others</h4>            
            <div class="form-group required">
                <label class="col-form-label ">Total Days In Year </label>
                <input type="number" name="total_days_in_year" class="form-control" formControlName="total_days_in_year"/>
            </div>

            <div class="form-group required">
                <label class="col-form-label">Total Hours In A Day </label>
                <input type="number" name="total_hours_in_day" class="form-control" formControlName="total_hours_in_day"/>
            </div>

            <div class="form-group required">
                <label class="col-form-label">Tax Period </label>
                <select name="tax_period" class="form-control" formControlName="tax_period">
                    <option value="DAILY">DAILY</option>
                    <option value="WEEKLY">WEEKLY</option>
                    <option value="SEMI_MONTHLY">SEMI-MONTHLY</option>
                    <option value="MONTHLY">MONTHLY</option>
                </select>
            </div>

            <!-- <div class="form-group">
                <label class="col-form-label">Night Differential Start</label>
                <input type="text" name="night_differential_start" class="form-control" formControlName="night_differential_start"/>
            </div>

            <div class="form-group">
                <label class="col-form-label">Night Differential End</label>
                <input type="text" name="night_differential_end" class="form-control" formControlName="night_differential_end"/>
            </div> -->
        </div>
    </div>

    <div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for=""><br/></label><br/>
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || formSubmitting">
                    <span *ngIf="formMode=='create' && !formSubmitting">Create</span>
                    <span *ngIf="formMode!='create' && !formSubmitting">Update</span>
                    <span *ngIf="formSubmitting">Saving...</span>
                </button>
            </div>
        </div>
    </div>
  </form>
</div>