@import './theme-variables.scss';
@import './../../node_modules/angular-calendar/css/angular-calendar.css';
/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
html{
  font-size:14px;
}

.input-group-text{
  font-size: 9px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
}

.col-form-label,
.form-label,
.control-label,
.form-control {
  font-size: 11px;
  line-height: normal;
}


.form-control {
  padding: 4px 8px;
  height: 25px;
}

.form-check {
  line-height: normal;
  .col-form-label {
    padding: 0;
  }

  .form-check-label {
    padding-top: 10px;
    padding-left: 2px;
  }
  
}

.btn {
  font-size:11px;
  padding: 4px 8px;
}

.table,
.table.data-table {
  font-size: 12px;
}

.table thead {}

.form-group.required {
  .col-form-label:after,
  .control-label:after {
    content:"*";
    color:red;
  }
}

select {
  &.form-control {
    height: 26px !important;
  }
}

.input-group {
  input[type=text] {
    height: 26px;
  }

  button {
    i.fa {
      font-size: 10px;
    }
  }
} 

.overlay-container {
  position: relative;
}

.form-group.has-danger .mydp {
  border: 1px solid #d9534f !important;
}

.mydp .selection {
  font-size: 11px;
}

my-date-picker,
.mydp,
.selectiongroup {
  width: 100%;
}

.data-table-wrapper {
  .input-group-prepend{
    .input-group-text{
      font-size: 12px;
      padding:3px 8px;
    }
  }

  select {
    padding: 1px 2px;
    height: 26px;
    vertical-align: middle;
  }

  .pagination-box{
    margin-top: 0 !important;
    overflow: auto;
    .pagination-range {

    }
    .pagination-controllers{
      .pagination-limit {
        .input-group {
          .input-group-prepend {

          }
          select {
            height: 26px;
          }
        }
      }

      .pagination-pages {
        .input-group {
          .input-group-append .input-group-text,
          input {
            height: 26px;
            font-size: 11px;
          }
          
        }
      }
    }
  }

  tbody {
    &.substitute-rows {
      display: none;
    }
  }

}

/* Show it is fixed to the top */
body {
  min-height: 100px;
  padding-top: 4.5rem;
}

.bg-inverse {
    background-color: #292b2c!important;
}

.cursor-pointer{
  cursor: pointer;
}


/** Multi-select dropdown **/
.multiselect-dropdown {
  .dropdown-btn {
    border: 1px solid #ced4da !important;
    height: 25px;
    font-size: 11px;
    padding: 3px 5px !important;
  }

  .dropdown-list {
    font-size: 11px;
    
    .filter-textbox {
      padding: 5px;
    }

    .multiselect-item-checkbox {
      padding: 5px 5px 5px 10px;
    }
  }
  
  .multiselect-item-checkbox input[type=checkbox] + div {
    color: #666 !important;
    &:before {
      width: 10px !important;
      height: 10px !important;
    }

    &:after {
      top: 6px !important;
      left: 2px !important; 
    }
  }
}
