<app-header [user]="user"></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar small">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <router-outlet></router-outlet>        
    </main>
  </div>
</div>

